@use "../abstracts/vars" as *;

.gform_wrapper {
	:focus-visible {
		outline: none;
	}
}

form {
	.gfield {
		margin: 0 0 20px 0;
	}

	.gform_validation_container {
		display: none;
	}

	label,
	.gfield_label {
		display: block;
		font-size: 1.6rem;
		text-transform: uppercase;
		margin: 0 0 .4ch 0;
		color: $pine;
	}

	.hidden_label {
		> label,
		> legend {
			display: none;
		}
	}

	input,
	textarea,
	select {
		width: 100%;
		font-family: $ff-body;
		font-size: $font-19;
		padding: .8ch 1.3rem;
		color: $primary;
		background: $linen;
		border: 1px solid $stone;
		border-radius: 0;
		-webkit-appearance: none;
		transition: background .18s ease-in-out, border .18s ease-in-out;

		&:active,
		&:focus {
			outline: none !important;
			background: $white;
			border-color: $sage;
		}

		&[type="submit"] {
			max-width: 140px;
			font-family: $ff-title;
			font-size: $font-18;
			font-weight: 600;
			text-align: center;
			color: $black;
			background: transparent;
			border: .15rem solid $secondary;
			border-radius: 5rem;
            cursor: pointer;
			transition: color $speed $ease, background $speed $ease;
			
			&:hover,
			&:active,
			&:focus {
				color: $white;
				background: $secondary;
			}
		}

		&[type="submit"],
		&[type="text"],
		&[type="email"],
		&[type="checkbox"] {
			-webkit-appearance: none;
		}
	}

	textarea {
		max-height: 160px;
	}

	select {
		font-family: $ff-body;
		background-size: 12px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.314' height='7.071'%3E%3Cg fill='none' stroke='%23c0c1c6' stroke-width='2'%3E%3Cpath d='M10.607.707 4.95 6.364M6.364 6.364.707.707'/%3E%3C/g%3E%3C/svg%3E");
		background-position: calc(100% - 10px) 50%;
		background-repeat: no-repeat;
	}

	.ginput_container_consent {
		display: flex;
    	flex-wrap: wrap;
		align-items: center;
		font-size: 1.7rem;
		line-height: 1.25;
		margin-bottom: .6rem;
		color: $primary;

		label {
			width: calc(100% - 22px);
			padding-left: 1.6rem;
			font-size: 1.6rem;
			text-transform: none;
			margin: 0;
			color: $primary;
		}

		a {
			text-decoration: underline;
			text-decoration-color: $secondary;
			text-decoration-thickness: 0.075rem;
			text-underline-position: under;
			color: $primary;
			transition: color $speed $cb, text-decoration-color $speed $cb;

			&:hover {
				color: $moss;
			}
		}

		input[type="checkbox"] {
			display: block;
			width: 22px;
			height: 22px;
			margin: 0;
			padding: 0;
			cursor: pointer;
			transition: background .18s ease-in-out, box-shadow .2s ease-in-out;

			&:checked {
				background: $secondary;
				box-shadow: inset 0 0 0 3px #fff;
			}
		}

		.gfield_required_asterisk {
			display: none;
		}

	} // consent

    .gfield_description {
        font-size: 1.6rem;
        line-height: 1.25;
        margin: 0 0 1.5ch 0;
        padding: 0;
        color: $primary;

        a {
			text-decoration: underline;
			text-decoration-color: $secondary;
			text-decoration-thickness: 0.075rem;
			text-underline-position: under;
			color: $primary;
			transition: color $speed $cb, text-decoration-color $speed $cb;

			&:hover {
				color: $moss;
			}
		}

        &.validation_message {
            margin-left: 0;
            padding: 8px 0 0 0;
			color: $moss;
        }
    }

	.gfield--type-fileupload {
		margin: -15px 0 20px 0;
	}
	.ginput_container_fileupload {
		.gform_fileupload_rules,
		.validation_message--hidden-on-empty {
			display: none;
		}
		input {
			border: 1px dashed $moss;
		}
	} // file upload

} // form

.gform_required_legend {
	display: none;
}

.gform_submission_error {
	font-family: $ff-body;
	font-size: $font-18;
	font-weight: 400;
	line-height: 1.25;
	margin-bottom: 2ch;
	color: $moss;
}

.validation_message {
	display: inline-block;
	font-size: 1.6rem;
	margin-top: 4px;
	color: $moss;
}

.gform_description {
	display: block;
	font-size: 1.8rem;
	margin-bottom: 3ch;
}

::placeholder {
	color: $primary;
}
:-ms-input-placeholder {
	color: $primary;
}
::-ms-input-placeholder {
	color: $primary;
}


@media (min-width: 1024px) {
	form {
		.gform_fields {
			display: flex;
			flex-wrap: wrap;
			margin-left: -20px;

			.gfield {
				width: calc(50% - 20px);
				margin-left: 20px;

				&.fw {
					width: calc(100% - 20px);
				}
			}
		}
	}
}

img.gform_ajax_spinner {
	display: none !important;
}

// --- search form ---------------
// clear the ‘X’ from Internet Explorer
input[type=search]::-ms-clear { 
	display: none; 
	width: 0; 
	height: 0; 
}
input[type=search]::-ms-reveal { 
	display: none; 
	width: 0; 
	height: 0; 
}

// clear the ‘X’ from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
	display: none; 
}