@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as *;

// post excerpt
.excerpt {
    display: block;
    transition: transform $speed $ease;

    &__thumb {
        aspect-ratio: 1/.565;
        line-height: 0;
        overflow: hidden;

        img {
            width: 100%;
            line-height: 0;
            aspect-ratio: 1/.565;
            object-fit: cover;
        }
    } // thumb

    &__body {
        padding: 2rem 70px .2rem 0;
        position: relative;

        .meta {
            font-size: $font-16;
            margin: 0 0 1ch 0;
            color: $moss;
        }

        h3 {
            font-size: $font-20;
            margin: 0;
            color: $pine;
        }
        
        .btn {
            position: absolute;
            bottom: 0;
            right: 0;
            
            path {
                &:nth-child(2) {
                    transition: fill $speed $ease;
                }
            }
            
        }
    } // body

    &:hover,
    &:active,
    &:focus {
        transform: translateY(-4px);

        .excerpt__body {
            path {
                &:nth-child(2) {
                    fill: $moss;
                }
            }
        }
    } // hover
}






// // single post
// .single {
//     #content {
//         .btn {
//             @include button;
//             margin-top: 3ch;
//         }
//     }
// }

// // post : pagination
// .pagination {
//     width: 100%;
//     margin-top: $space-l;

//     .page-numbers {
//         font-size: 1.6rem;
//         font-weight: 500;
//         margin: 0 4px 0 0;
//         padding: 5px 12px;
//         background: rgba(0,0,0, .1);
//         transition: color $speed $ease, background $speed $ease;

//         &.current,
//         &:hover,
//         &:active,
//         &:focus {
//             background: rgba(0,0,0, .35);
//             color: #fff;
//         }
//     }
// }