@use "../abstracts/vars" as *;

ul.search-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
    }

    a {
        display: block;
        text-decoration: none!important;

        h2 {
            font-family: $ff-body;
            font-size: $font-22;
            font-weight: 500;
            line-height: 1.55;
            color: $black;
        }

        p {
            margin: 0;
            color: $primary;
        }
    }

    @media(min-width: 782px) {
        flex-direction: row;

        li {
            width: calc(50% - 1rem);
        }
    }

    @media(min-width: 1024px) {
        gap: 4rem;

        li {
            width: calc(50% - 2rem);
        }
    }
}


.no-res {
    h2 {
        font-family: $ff-body;
        font-size: $font-32;
        font-weight: 500;
        text-align: center;
        margin-bottom: 1.5ch;
        color: $black;
    }
    
    p {
        text-align: center;
         
        + p {
            margin-top: 0!important;
        }
    }
}