:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.latest-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--wp--preset--spacing--normal);
}
@media (min-width: 782px) {
  .latest-posts {
    flex-direction: row;
    gap: 2rem;
  }
  .latest-posts .excerpt {
    flex: 1;
  }
}
