@use "../../../scss/abstracts/vars" as *;
@use "../../../scss/abstracts/button" as *;

[x-cloak] { display: none !important; }

// filter
.posts-filter {
	.category-buttons {
		min-height: 40px;
		display: inline-flex;
		gap: 1rem;
		margin-bottom: 4rem;
		padding: 0 5px 0 0;
		background: $linen;
		border-radius: 4rem;
		
		.cat-btn {
			appearance: none;
			min-height: 30px;
			padding: 0 20px 0 42px;
			position: relative;
			
			span {
				font-size: 1.6rem;
				font-weight: 500;
				color: $moss;
				transition: color $speed $ease;
				position: relative;
				z-index: 5;
			}
			
			&:before,
			&:after {
				content: "";
				display: block;
				width: 30px;
				height: 30px;
				border-radius: 30px;
				position: absolute;
				top: 5px;
				left: 5px;
			}
			
			&:before {
				background: $sage;
				z-index: 1;
				transition: width $speed $cb;
			}
			
			&:after {
				background: $white;
				mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' fill='none'%3E%3Cpath fill='%23fff' d='M16.709 1.201a1 1 0 0 1 1.414.008l5.088 5.148a1 1 0 0 1-.008 1.414l-5.088 5.028a1 1 0 0 1-1.406-1.422L20.125 8H1.5a1 1 0 1 1 0-2h18.547L16.7 2.615a1 1 0 0 1 .008-1.414Z'/%3E%3C/svg%3E");
				mask-position: center;
				mask-repeat: no-repeat;
				mask-size: 18px;
				z-index: 2;   
			}
			
			&:not(.active):hover {
				cursor: pointer;
				
				span {
					color: $black;
				}
				
				&:before {
					width: calc(100% - 5px);
				}
			}
			
			&.active {
				&:before {
					background: $secondary;
				}
				
				&:after {
					transform: rotate(90deg);
				}
				
				span {
					font-weight: 600;
					color: $black;
				}
			}
		}
		
		@media (min-width: 1024px) {
			marign-left: auto;
		}
		
		@media (max-width: 599px) {
			min-height: 34px;
			gap: .2rem;
			
			.cat-btn {
				min-height: 24px;
				line-height: 1;
				padding: 0 10px 0 35px;
				
				&:before,
				&:after {
					width: 24px;
					height: 24px;
				}
				
				&:after {
					mask-size: 12px;
				}
				
				span {
					font-size: 1.5rem;
					white-space: pre;
				}
			}
		}
		
		@media (max-width: 399px) {
			flex-direction: column;
			gap: 1rem;
			background: transparent;
			border-radius: 0;
			
			.cat-btn {
				min-height: 34px;
			}
		}
	}
	
	
// fade in	
	.posts-listing {
		transition: opacity 200ms ease;
		opacity: 1;
	
		&.is-switching {
			opacity: 0;
		}
	}
}

// posts listing
.posts-listing {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 4rem;

	.post-item {
		.excerpt {
			background: $white;
		}
	}

	@media (min-width: 680px) {
		flex-direction: row;
		gap: 3rem;

		.post-item {
			width: calc(50% - 1.5rem);
		}
	}

	@media (min-width: 1200px) {
		.post-item {
			width: calc(33.33% - 2rem);
		}
	}
}

.load-more-posts {
	text-align: center;
	padding: $space-m 0 0 0;
	
	.btn {
		@include button-base;
        @include button-icon;
        

        &:after {
            transform: rotate(90deg);
        }
	}
} // load more 

.goverlay {
	background: linear-gradient(114deg, #eeeff5 5%, darken($cloud, 5%) 95%)!important;
}

.glightbox-clean  {
	.gslide-description {
		border-radius: 0 0 $br $br;
	}

	h4.gslide-title {
		font-family: $ff-title;
		font-size: $font-20;
		font-weight: 500;
		margin-bottom: 0;
	}
	
}