:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
[x-cloak] {
  display: none !important;
}

.posts-filter .category-buttons {
  min-height: 40px;
  display: inline-flex;
  gap: 1rem;
  margin-bottom: 4rem;
  padding: 0 5px 0 0;
  background: #F5F5ED;
  border-radius: 4rem;
}
.posts-filter .category-buttons .cat-btn {
  appearance: none;
  min-height: 30px;
  padding: 0 20px 0 42px;
  position: relative;
}
.posts-filter .category-buttons .cat-btn span {
  font-size: 1.6rem;
  font-weight: 500;
  color: #384332;
  transition: color 0.35s ease-in-out;
  position: relative;
  z-index: 5;
}
.posts-filter .category-buttons .cat-btn:before, .posts-filter .category-buttons .cat-btn:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.posts-filter .category-buttons .cat-btn:before {
  background: #B4B49E;
  z-index: 1;
  transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.posts-filter .category-buttons .cat-btn:after {
  background: #fff;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' fill='none'%3E%3Cpath fill='%23fff' d='M16.709 1.201a1 1 0 0 1 1.414.008l5.088 5.148a1 1 0 0 1-.008 1.414l-5.088 5.028a1 1 0 0 1-1.406-1.422L20.125 8H1.5a1 1 0 1 1 0-2h18.547L16.7 2.615a1 1 0 0 1 .008-1.414Z'/%3E%3C/svg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 18px;
  z-index: 2;
}
.posts-filter .category-buttons .cat-btn:not(.active):hover {
  cursor: pointer;
}
.posts-filter .category-buttons .cat-btn:not(.active):hover span {
  color: #000;
}
.posts-filter .category-buttons .cat-btn:not(.active):hover:before {
  width: calc(100% - 5px);
}
.posts-filter .category-buttons .cat-btn.active:before {
  background: #FF6139;
}
.posts-filter .category-buttons .cat-btn.active:after {
  transform: rotate(90deg);
}
.posts-filter .category-buttons .cat-btn.active span {
  font-weight: 600;
  color: #000;
}
@media (min-width: 1024px) {
  .posts-filter .category-buttons {
    marign-left: auto;
  }
}
.posts-filter .posts-listing {
  transition: opacity 200ms ease;
  opacity: 1;
}
.posts-filter .posts-listing.is-switching {
  opacity: 0;
}

.posts-listing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4rem;
}
.posts-listing .post-item .excerpt {
  background: #fff;
}
@media (min-width: 680px) {
  .posts-listing {
    flex-direction: row;
    gap: 3rem;
  }
  .posts-listing .post-item {
    width: calc(50% - 1.5rem);
  }
}
@media (min-width: 1200px) {
  .posts-listing .post-item {
    width: calc(33.33% - 2rem);
  }
}

.load-more-posts {
  text-align: center;
  padding: var(--wp--preset--spacing--m) 0 0 0;
}
.load-more-posts .btn {
  display: inline-flex;
  min-height: 54px;
  align-items: center;
  justify-content: center;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  padding: 16px 3rem 16px 6rem;
  color: #000;
  border: 0.15rem solid #FF6139;
  border-radius: 5rem;
  cursor: pointer;
  position: relative;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.load-more-posts .btn strong {
  font-weight: 600;
  position: relative;
  z-index: 3;
}
.load-more-posts .btn:before, .load-more-posts .btn:after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 5rem;
  position: absolute;
  top: 3px;
  left: 3px;
}
.load-more-posts .btn:before {
  background: #FF6139;
  z-index: 1;
  transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.load-more-posts .btn:after {
  background: #fff;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' fill='none'%3E%3Cpath fill='%23fff' d='M16.709 1.201a1 1 0 0 1 1.414.008l5.088 5.148a1 1 0 0 1-.008 1.414l-5.088 5.028a1 1 0 0 1-1.406-1.422L20.125 8H1.5a1 1 0 1 1 0-2h18.547L16.7 2.615a1 1 0 0 1 .008-1.414Z'/%3E%3C/svg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  z-index: 2;
}
.load-more-posts .btn:hover, .load-more-posts .btn:active, .load-more-posts .btn:focus {
  color: #fff;
}
.load-more-posts .btn:hover:before, .load-more-posts .btn:active:before, .load-more-posts .btn:focus:before {
  width: calc(100% - 6px);
}
.load-more-posts .btn[href$=".pdf"]:after {
  transform: rotate(90deg);
}
.load-more-posts .btn:after {
  transform: rotate(90deg);
}

.goverlay {
  background: linear-gradient(114deg, #eeeff5 5%, rgb(214.5869565217, 223.9130434783, 223.9130434783) 95%) !important;
}

.glightbox-clean .gslide-description {
  border-radius: 0 0 8px 8px;
}
.glightbox-clean h4.gslide-title {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--font-20);
  font-weight: 500;
  margin-bottom: 0;
}
