:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.operations-carousel .swiper-slide {
  line-height: 0;
}
.operations-carousel img {
  width: 100%;
  height: auto;
  line-height: 0;
  object-fit: cover;
}
@media (max-width: 781px) {
  .operations-carousel img {
    aspect-ratio: 1/0.65;
  }
}
.operations-carousel .btn {
  display: inline-flex;
  min-height: 54px;
  align-items: center;
  justify-content: center;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  padding: 16px 3rem 16px 6rem;
  color: #000;
  border: 0.15rem solid #FF6139;
  border-radius: 5rem;
  cursor: pointer;
  position: relative;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: var(--wp--preset--spacing--m);
}
.operations-carousel .btn strong {
  font-weight: 600;
  position: relative;
  z-index: 3;
}
.operations-carousel .btn:before, .operations-carousel .btn:after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 5rem;
  position: absolute;
  top: 3px;
  left: 3px;
}
.operations-carousel .btn:before {
  background: #FF6139;
  z-index: 1;
  transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.operations-carousel .btn:after {
  background: #fff;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' fill='none'%3E%3Cpath fill='%23fff' d='M16.709 1.201a1 1 0 0 1 1.414.008l5.088 5.148a1 1 0 0 1-.008 1.414l-5.088 5.028a1 1 0 0 1-1.406-1.422L20.125 8H1.5a1 1 0 1 1 0-2h18.547L16.7 2.615a1 1 0 0 1 .008-1.414Z'/%3E%3C/svg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  z-index: 2;
}
.operations-carousel .btn:hover, .operations-carousel .btn:active, .operations-carousel .btn:focus {
  color: #fff;
}
.operations-carousel .btn:hover:before, .operations-carousel .btn:active:before, .operations-carousel .btn:focus:before {
  width: calc(100% - 6px);
}
.operations-carousel .btn[href$=".pdf"]:after {
  transform: rotate(90deg);
}
.operations-carousel .slide-content .col-1 {
  padding-top: var(--wp--preset--spacing--m);
}
.operations-carousel .slide-content .col-2 {
  position: relative;
}
@media (min-width: 782px) {
  .operations-carousel .slide-content {
    display: flex;
    flex-wrap: wrap;
  }
  .operations-carousel .slide-content > div {
    width: 50%;
  }
  .operations-carousel .slide-content .col-1 {
    order: -1;
    padding-top: var(--wp--preset--spacing--xl);
    padding-bottom: var(--wp--preset--spacing--xl);
    position: relative;
  }
  .operations-carousel .slide-content .col-1 .btn {
    position: absolute;
    bottom: 4rem;
  }
  .operations-carousel .slide-content .col-1-inner {
    padding: 0 var(--wp--preset--spacing--m) 4rem 0;
  }
  .operations-carousel .slide-content .col-2 img {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .operations-carousel .slide-content h3 {
    font-size: var(--wp--preset--font-size--font-54);
    line-height: 1.14;
  }
}
@media (min-width: 782px) {
  .operations-carousel {
    margin-top: calc(var(--wp--preset--spacing--xl) * -1) !important;
    margin-bottom: calc(var(--wp--preset--spacing--xl) * -1) !important;
  }
}
.operations-carousel .slider-controls {
  width: 118px;
  height: 54px;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.operations-carousel .slider-controls .swiper-button-next,
.operations-carousel .slider-controls .swiper-button-prev {
  width: 54px;
  height: 54px;
}
.operations-carousel .slider-controls .swiper-button-next:after,
.operations-carousel .slider-controls .swiper-button-prev:after {
  display: none;
}
.operations-carousel .slider-controls .swiper-button-next:hover .circle,
.operations-carousel .slider-controls .swiper-button-prev:hover .circle {
  fill: #fff;
}
.operations-carousel .slider-controls .swiper-button-next:hover .arrow,
.operations-carousel .slider-controls .swiper-button-prev:hover .arrow {
  stroke: #FF6139;
}
.operations-carousel .slider-controls .swiper-button-next {
  right: 0;
}
.operations-carousel .slider-controls .swiper-button-prev {
  left: 0;
}
.operations-carousel .slider-controls .circle {
  transition: fill 0.35s ease-in-out;
}
.operations-carousel .slider-controls .arrow {
  transition: stroke 0.35s ease-in-out;
}
@media (min-width: 782px) {
  .operations-carousel .slider-controls {
    bottom: 4rem;
    right: calc(100% - 16rem);
  }
}
