@use "../../../scss/abstracts/vars" as *;
@use "../../../scss/abstracts/button" as *;

.operations-carousel {

    .swiper-slide {
        line-height: 0;
    }
    
    img {
        width: 100%;
        height: auto;
        line-height: 0;
        object-fit: cover;
        
        @media (max-width: 781px) {
            aspect-ratio: 1 / .65;
        }
    }
    
    .btn {
        @include button-base;
        margin-top: $space-m;
    }
    
    .slide-content {
        .col-1 {
            padding-top: $space-m;
        }
        
        .col-2 {
            position: relative;
        }
        
        @media (min-width: 782px) {
            display: flex;
            flex-wrap: wrap;
        
            > div {
                width: 50%;
            }
            
            .col-1 {
                order: -1;
                padding-top: $space-xl;
                padding-bottom: $space-xl;
                position: relative;
                
                .btn {
                    position: absolute;
                    bottom: 4rem;
                }
            }
            
            .col-1-inner {
                padding: 0 $space-m 4rem 0;
            }
            
            .col-2 {
                img {
                    height: 100%;
                }
            }
        }
        
        @media (min-width: 1024px) {
            h3 {
                font-size: $font-54;
                line-height: 1.14;
            }
        }
        
    } // .slide-content 
    
    @media (min-width: 782px) {
        margin-top: calc($space-xl * -1)!important;
        margin-bottom: calc($space-xl * -1)!important;
    }

    .slider-controls {
        width: 118px;
        height: 54px;
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    
        .swiper-button-next, 
        .swiper-button-prev {
            width: 54px;
            height: 54px;
    
            &:after {
                display: none;
            }
    
             &:hover {
                .circle {
                    fill: $white;
                }
                
                .arrow {
                    stroke: $secondary;
                }
            }
        }
    
        .swiper-button-next {
            right: 0;
        }
    
        .swiper-button-prev {
            left: 0;
        }
    
        .circle {
            transition: fill $speed $ease;
        }
        
        .arrow {
            transition: stroke $speed $ease;
        }
        
        @media (min-width: 782px) {
            bottom: 4rem;
            right: calc(100% - 16rem);
        }
        
    } // controls
}