@use "../../../scss/abstracts/vars" as *;
@use "../../../scss/abstracts/button" as *;

.aim {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $stone;
    
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }

    + * {
        &:not(.aim) {
            margin-top: $space-n;
        }
    }

	h3 {
        font-size: $font-26;
        color: $pine;
	}

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        @include button-base;
        min-height: 38px;
        padding: 10px 2.5rem 9px 4.8rem;
        border-color: transparent;
        
        &:before,
        &:after {
            width: 38px;
            height: 38px;
            top: 0;
            left: 0;
        }
        
        &:after {
            mask-size: 18px;
        }
    }

    @media (min-width: 782px) {
        display: flex;
		flex-wrap: wrap;
        gap: 40px;
        //padding: 4rem 3rem 3.5rem 3rem;

        > div {
			width: calc(50% - 20px);
		}

		h3 {
            font-size: $font-20;
			margin: 0;
		}
    }
} // aim

h2,
.is-style-intro {
    + .aim {
        margin-top: 4.5rem!important;
    }
}