:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.aim {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #BDC1C0;
}
.aim:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.aim + *:not(.aim) {
  margin-top: var(--wp--preset--spacing--normal);
}
.aim h3 {
  font-size: var(--wp--preset--font-size--font-26);
  color: #192815;
}
.aim p:last-child {
  margin-bottom: 0;
}
.aim__btn {
  display: inline-flex;
  min-height: 54px;
  align-items: center;
  justify-content: center;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  padding: 16px 3rem 16px 6rem;
  color: #000;
  border: 0.15rem solid #FF6139;
  border-radius: 5rem;
  cursor: pointer;
  position: relative;
  transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 38px;
  padding: 10px 2.5rem 9px 4.8rem;
  border-color: transparent;
}
.aim__btn strong {
  font-weight: 600;
  position: relative;
  z-index: 3;
}
.aim__btn:before, .aim__btn:after {
  content: "";
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 5rem;
  position: absolute;
  top: 3px;
  left: 3px;
}
.aim__btn:before {
  background: #FF6139;
  z-index: 1;
  transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.aim__btn:after {
  background: #fff;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' fill='none'%3E%3Cpath fill='%23fff' d='M16.709 1.201a1 1 0 0 1 1.414.008l5.088 5.148a1 1 0 0 1-.008 1.414l-5.088 5.028a1 1 0 0 1-1.406-1.422L20.125 8H1.5a1 1 0 1 1 0-2h18.547L16.7 2.615a1 1 0 0 1 .008-1.414Z'/%3E%3C/svg%3E");
  mask-position: center;
  mask-repeat: no-repeat;
  z-index: 2;
}
.aim__btn:hover, .aim__btn:active, .aim__btn:focus {
  color: #fff;
}
.aim__btn:hover:before, .aim__btn:active:before, .aim__btn:focus:before {
  width: calc(100% - 6px);
}
.aim__btn[href$=".pdf"]:after {
  transform: rotate(90deg);
}
.aim__btn:before, .aim__btn:after {
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}
.aim__btn:after {
  mask-size: 18px;
}
@media (min-width: 782px) {
  .aim {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  .aim > div {
    width: calc(50% - 20px);
  }
  .aim h3 {
    font-size: var(--wp--preset--font-size--font-20);
    margin: 0;
  }
}

h2 + .aim,
.is-style-intro + .aim {
  margin-top: 4.5rem !important;
}
