@use "../abstracts/vars" as *;

// column
.wp-block-column {

    &.has-background,
    &.has-border-color {
        padding: $space-n;
        
        @media (min-width: 782px) {
            &.p-lg {
                padding: 6rem;
            }
            
            &.pr0-lg {
                padding-right: 0;
            }
        }
    }
    
    &.bg-overlay-1 {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1476' height='804' fill='none'%3E%3Cg opacity='.13'%3E%3Cmask id='a' width='1476' height='804' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23D9D9D9' d='M.143.554h1475.53V803.18H.143z'/%3E%3C/mask%3E%3Cg fill='%23B4B49E' stroke='%23fff' mask='url(%23a)'%3E%3Cpath d='M1328.98-587.103v441.18L777.888 417.605l-.009.009-.008.01c-52.777 59.661-90.663 132.107-108.979 210.026v.001c-3.194 13.702-5.706 26.373-7.532 38.643-1.769 11.922-3.138 24.534-4.108 38.583-.912 12.839-1.312 23.839-1.312 34.437v.058c0 98.878 29.498 193.957 85.242 274.868.319.47.653.92.98 1.37.136.18.272.37.406.55H-94.411V574.813L568.733-94.568l.844-.852H-85.519v-491.683H1328.98Z'/%3E%3Cpath d='M1134.77 397.115c186.63.655 337.78 153.605 337.78 342.143 0 135.286-77.81 252.244-190.73 307.732v.01c-8.82 4.36-17.87 8.27-27.09 11.83-37.62 14.53-77.51 22.57-121.11 22.57-42.91 0-83.9-8.18-121.7-22.85l-1.8-.7c-43.881-17.35-83.323-43.66-116.106-76.746-61.354-61.868-99.317-147.347-99.317-241.846 0-8.269.398-16.426.968-24.53v-.001c.626-9.195 1.536-18.328 2.902-27.343v-.002c1.365-9.244 3.243-18.319 5.35-27.343 16.79-71.347 55.72-134.077 109.049-180.321h.001c59.305-51.471 136.363-82.548 220.653-82.548h1.2l-.05-.055Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        backgrouns-repeat: no-repeat;
    }

    @media (min-width: 782px) {
        &.reorder {
            order: -1;
        }

        &.is-style-btn-bottom {
            display: flex;
            flex-direction: column;

            .wp-block-buttons {
                margin-top: auto;
                padding-top: 2rem;
            }
        }
    }
}


// columns
.wp-block-columns {
    &.is-style-no-gap {
        gap: 0;
    }

    &.is-style-sm-gap {
        gap: 2rem;

        + .is-style-sm-gap {
            margin-top: 2rem!important;
        }
    }

    &.has-background {
        padding: $space-s;
    }

    + .wp-block-columns {
        &:not(.mt0):not(.is-style-sm-gap) {
            margin-top: $space-l!important;
        }
    }

     &.is-style-grid {
        border: 1px solid rgba($moss, .2);
        gap: 0;

        > .wp-block-column {
            padding: $space-n;

            &:not(:first-child) {
                @media (max-width: 781px) {
                    border-top: 1px solid rgba($moss, .2);
                }

                @media (min-width: 782px) {
                    border-left: 1px solid rgba($moss, .2);
                }
            }
        }

        + .is-style-grid {
            margin-top: 0!important;
            border-top: 0;
        }
    } // full grid

    @media (min-width: 782px) and (max-width: 1023px) {
        &.col-1-md {
            flex-direction: column;
        }
    }

    @media (min-width: 1024px) {
        &.is-style-lg-gap {
            gap: $space-l;
        }
    }

    + .wp-block-quote {
        margin-top: $space-n;
    }    

    + p,
    + h2, 
    + h3,
    + h4,
    + h5,
    + h6 {
        margin-top: 2.5ch!important;
    }
    
    
    &.row-investors {
        @media (max-width: 781px) {
            gap: $space-m;
            
            .wp-block-columns {
                gap: $space-m;
            }
        }
        
        @media (min-width: 782px) {
            flex-direction: column;
            gap: $space-m;
        }
        
        @media (min-width: 1024px) {
            flex-direction: row;
            gap: $space-s;
        }
        
        @media (min-width: 1024px) and (max-width: 1199px) {
            .latest-document {
                .title {
                    padding: 80px 0 0 0;
                }
            }
        }
    }
}


.has-sidebar {
    .wp-block-column {
        &.has-background,
        &.has-border-color {
            padding: 2.5rem;
        }
    }
}
