:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.full-width .wp-block-group:first-child {
  margin-top: 0;
}
.full-width .wp-block-group:last-child {
  margin-bottom: 0;
}
.wp-block-group.fw {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.wp-block-group.fw > div {
  width: 100vw;
  max-width: 100vw;
}
.wp-block-group.box {
  padding: var(--wp--preset--spacing--normal) !important;
}
.wp-block-group.has-background:not(.alignfull) {
  padding-top: var(--wp--preset--spacing--xl);
  padding-bottom: var(--wp--preset--spacing--xl);
}
.wp-block-group.overflow {
  overflow-x: hidden;
}
@media (max-width: 781px) {
  .wp-block-group.is-style-sage-green {
    padding-bottom: var(--wp--preset--spacing--normal) !important;
    background: linear-gradient(to bottom, rgb(202.238372093, 202.238372093, 186.761627907) 0%, rgb(168.8808139535, 168.8808139535, 143.6191860465) 100%);
  }
}
@media (min-width: 782px) {
  .wp-block-group.is-style-sage-green {
    background: linear-gradient(90deg, #B4B49E 0%, #B4B49E 50%, #6a705d 50%, #6a705d 100%);
    position: relative;
  }
  .wp-block-group.is-style-sage-green:before {
    content: "";
    display: block;
    width: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1101' height='1101' fill='none'%3E%3Cmask id='a' width='1101' height='1101' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23B4B49E' d='M.411.163h1100v1100H.411z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill='%23fff' fill-opacity='.15' d='M173.444 1014.67c0-16.463.621-33.556 2.039-53.512 1.508-21.837 3.636-41.436 6.384-59.961 2.838-19.062 6.739-38.75 11.704-60.049 28.462-121.084 87.336-233.665 169.353-326.38L1220.41-362.08v-687.39H-981.522v766.412H36.455L-995.354 758.457v687.663h1304.28c-.975-1.43-2.039-2.78-3.015-4.21-86.627-125.74-132.467-273.49-132.467-427.15v-.09Z'/%3E%3Cpath stroke='%23fff' stroke-opacity='.25' d='M1219.91-1048.97v686.685L362.567 514.419l-.009.008-.009.01c-81.429 92.051-140.062 203.672-168.792 323.758l-.673 2.839c-4.967 21.309-8.872 41.011-11.712 60.09-2.75 18.538-4.879 38.15-6.387 59.998-1.42 19.967-2.041 37.073-2.041 53.548v.09c0 153.76 45.871 301.61 132.555 427.43.493.73 1.008 1.43 1.517 2.12.321.44.638.87.95 1.31h-1302.82V758.662L36.81-282.706l.844-.852H-981.022v-765.412H1219.91Z'/%3E%3Cpath fill='%23fff' fill-opacity='.15' d='M915.745 481.656c-131.315 0-251.369 48.416-343.759 128.601-83.08 72.042-143.728 169.768-169.884 280.918-3.281 14.05-6.207 28.19-8.335 42.598-2.128 14.051-3.547 28.28-4.522 42.599-.887 12.618-1.507 25.328-1.507 38.208 0 147.22 59.14 280.39 154.722 376.77 51.072 51.55 112.518 92.53 180.879 119.56 59.673 23.54 124.488 36.69 192.406 36.69s130.075-12.53 188.685-35.17c14.36-5.55 28.46-11.63 42.2-18.43 175.92-86.45 297.12-268.66 297.12-479.42 0-294.336-236.47-533.013-528.094-533.013l.089.089Z'/%3E%3Cpath stroke='%23fff' stroke-opacity='.25' d='M916.858 482.07c290.792.654 526.392 238.85 526.392 532.51 0 210.56-121.09 392.6-296.84 478.97-13.73 6.79-27.81 12.87-42.16 18.42-58.56 22.62-120.651 35.13-188.505 35.13-66.793 0-130.582-12.73-189.424-35.56l-2.798-1.09c-68.296-27-129.683-67.95-180.707-119.45h-.001c-95.493-96.3-154.577-229.34-154.577-376.42 0-12.87.619-25.562 1.506-38.173v-.001c.974-14.309 2.392-28.524 4.517-42.558v-.002c2.125-14.389 5.049-28.514 8.327-42.556 26.132-111.046 86.723-208.68 169.726-280.655 92.303-80.109 212.242-128.478 343.431-128.478h1.199l-.086-.087Z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .wp-block-group.is-style-sage-green .wp-block-columns {
    position: relative;
    z-index: 3;
  }
  .wp-block-group.is-style-sage-green .wp-block-column:first-child {
    padding-right: 6rem;
  }
  .wp-block-group.is-style-sage-green .wp-block-column:last-child {
    padding-left: 6rem;
  }
  .wp-block-group.is-style-sage-green p, .wp-block-group.is-style-sage-green li {
    color: #fff;
  }
}
@media (max-width: 781px) {
  .wp-block-group.is-style-linen-sage {
    background: linear-gradient(to bottom, #F5F5ED 0%, rgb(249.5535714286, 249.5535714286, 245.1964285714) 100%);
  }
}
@media (min-width: 782px) {
  .wp-block-group.is-style-linen-sage {
    background: linear-gradient(90deg, #F5F5ED 0%, #F5F5ED 50%, #B4B49E 50%, #B4B49E 100%);
  }
  .wp-block-group.is-style-linen-sage .wp-block-column:first-child {
    padding-right: 6rem;
  }
  .wp-block-group.is-style-linen-sage .wp-block-column:last-child {
    padding-left: 6rem;
  }
}
.wp-block-group.is-style-pine-green {
  position: relative;
}
.wp-block-group.is-style-pine-green:before, .wp-block-group.is-style-pine-green:after {
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.wp-block-group.is-style-pine-green:before {
  background: linear-gradient(105deg, #192815 -2.5%, #384332 60%);
  z-index: 1;
}
.wp-block-group.is-style-pine-green:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='514' fill='none'%3E%3Cg opacity='.07'%3E%3Cmask id='a' width='1738' height='514' x='-19' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23D9D9D9' d='M-18.936.517h1737.46v513.33H-18.936z'/%3E%3C/mask%3E%3Cg fill='%23B4B49E' mask='url(%23a)'%3E%3Cpath d='M637.361 454.968c0-10.585.399-21.573 1.311-34.402.969-14.037 2.337-26.636 4.104-38.545 1.824-12.254 4.332-24.91 7.524-38.602 18.296-77.838 56.143-150.21 108.866-209.81L1310.4-430.065v-441.884H-105.098v492.683h654.397L-113.99 290.262v442.056h838.444c-.627-.92-1.311-1.783-1.938-2.704-55.687-80.829-85.155-175.81-85.155-274.588v-.058Z'/%3E%3Cpath d='M1114.54 112.323c-84.41 0-161.588 31.124-220.98 82.67-53.408 46.311-92.395 109.133-109.209 180.585-2.109 9.032-3.99 18.122-5.358 27.384-1.368 9.032-2.28 18.179-2.907 27.384-.57 8.112-.969 16.281-.969 24.565 0 94.636 38.018 180.24 99.462 242.199 32.831 33.137 72.331 59.486 116.276 76.86 38.365 15.13 80.025 23.587 123.685 23.587s83.62-8.055 121.29-22.609c9.24-3.567 18.3-7.479 27.14-11.852 113.08-55.573 191-172.703 191-308.185 0-189.214-152.02-342.645-339.49-342.645l.06.057Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.wp-block-group.is-style-pine-green > * {
  position: relative;
  z-index: 5;
}
.wp-block-group.is-style-pine-green h2 {
  color: #fff;
}
@media (max-width: 781px) {
  .wp-block-group.is-style-pine-green:before, .wp-block-group.is-style-pine-green:after {
    height: 30%;
  }
}
@media (max-width: 781px) {
  .wp-block-group.is-style-sage-linen {
    background: linear-gradient(to bottom, #F5F5ED 0%, rgb(249.5535714286, 249.5535714286, 245.1964285714) 100%);
  }
}
@media (min-width: 782px) {
  .wp-block-group.is-style-sage-linen {
    background: linear-gradient(90deg, rgb(224.476744186, 224.476744186, 215.523255814) 0%, rgb(224.476744186, 224.476744186, 215.523255814) 50%, #F5F5ED 50%, #F5F5ED 100%);
  }
  .wp-block-group.is-style-sage-linen .wp-block-column:first-child {
    padding-right: 6rem;
  }
  .wp-block-group.is-style-sage-linen .wp-block-column:last-child {
    padding-left: 6rem;
  }
}
.wp-block-group.is-style-green-pine {
  position: relative;
}
.wp-block-group.is-style-green-pine:before, .wp-block-group.is-style-green-pine:after {
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.wp-block-group.is-style-green-pine:before {
  background: linear-gradient(105deg, #192815 -2.5%, #384332 60%);
  z-index: 1;
}
.wp-block-group.is-style-green-pine:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='514' fill='none'%3E%3Cg opacity='.07'%3E%3Cmask id='a' width='1738' height='514' x='-19' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23D9D9D9' d='M-18.936.517h1737.46v513.33H-18.936z'/%3E%3C/mask%3E%3Cg fill='%23B4B49E' mask='url(%23a)'%3E%3Cpath d='M637.361 454.968c0-10.585.399-21.573 1.311-34.402.969-14.037 2.337-26.636 4.104-38.545 1.824-12.254 4.332-24.91 7.524-38.602 18.296-77.838 56.143-150.21 108.866-209.81L1310.4-430.065v-441.884H-105.098v492.683h654.397L-113.99 290.262v442.056h838.444c-.627-.92-1.311-1.783-1.938-2.704-55.687-80.829-85.155-175.81-85.155-274.588v-.058Z'/%3E%3Cpath d='M1114.54 112.323c-84.41 0-161.588 31.124-220.98 82.67-53.408 46.311-92.395 109.133-109.209 180.585-2.109 9.032-3.99 18.122-5.358 27.384-1.368 9.032-2.28 18.179-2.907 27.384-.57 8.112-.969 16.281-.969 24.565 0 94.636 38.018 180.24 99.462 242.199 32.831 33.137 72.331 59.486 116.276 76.86 38.365 15.13 80.025 23.587 123.685 23.587s83.62-8.055 121.29-22.609c9.24-3.567 18.3-7.479 27.14-11.852 113.08-55.573 191-172.703 191-308.185 0-189.214-152.02-342.645-339.49-342.645l.06.057Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.wp-block-group.is-style-green-pine > * {
  position: relative;
  z-index: 5;
}
.has-sidebar .wp-block-group {
  padding: 0;
}
* + .has-sidebar .wp-block-group {
  margin-top: var(--wp--preset--spacing--m);
}
.has-sidebar .wp-block-group:first-child:not(.has-background) {
  margin-top: 0;
  padding-top: 0;
}
.has-sidebar .wp-block-group.has-background {
  padding: var(--wp--preset--spacing--normal);
}
.has-sidebar .wp-block-group.alignfull {
  padding: var(--wp--preset--spacing--xl) var(--wp--preset--spacing--contentgap);
}
.has-sidebar .wp-block-group + .wp-block-columns,
.has-sidebar .wp-block-group + .wp-block-group {
  margin-top: var(--wp--preset--spacing--m);
}

.home .wp-block-group:first-child {
  padding-top: 18rem !important;
}
@media (min-width: 782px) {
  .home .wp-block-group:first-child {
    padding-top: 27rem !important;
  }
}
.home .wp-block-group:first-child.box {
  padding: var(--wp--preset--spacing--normal) !important;
}
