:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.full-width .wp-block-group:first-child {
  margin-top: 0;
}
.full-width .wp-block-group:last-child {
  margin-bottom: 0;
}
.wp-block-group.fw {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.wp-block-group.fw > div {
  width: 100vw;
  max-width: 100vw;
}
.wp-block-group.has-background:not(.alignfull) {
  padding-top: var(--wp--preset--spacing--xl);
  padding-bottom: var(--wp--preset--spacing--xl);
}
.wp-block-group.overflow {
  overflow-x: hidden;
}
@media (max-width: 781px) {
  .wp-block-group.is-style-sage-green {
    padding-bottom: var(--wp--preset--spacing--normal) !important;
    background: linear-gradient(to bottom, rgb(202.238372093, 202.238372093, 186.761627907) 0%, rgb(168.8808139535, 168.8808139535, 143.6191860465) 100%);
  }
}
@media (min-width: 782px) {
  .wp-block-group.is-style-sage-green {
    background: linear-gradient(90deg, #B4B49E 0%, #B4B49E 50%, #6a705d 50%, #6a705d 100%);
  }
  .wp-block-group.is-style-sage-green .wp-block-column:first-child {
    padding-right: 6rem;
  }
  .wp-block-group.is-style-sage-green .wp-block-column:last-child {
    padding-left: 6rem;
  }
  .wp-block-group.is-style-sage-green p, .wp-block-group.is-style-sage-green li {
    color: #fff;
  }
}
@media (max-width: 781px) {
  .wp-block-group.is-style-linen-sage {
    background: linear-gradient(to bottom, #F5F5ED 0%, #B4B49E 100%);
  }
}
@media (min-width: 782px) {
  .wp-block-group.is-style-linen-sage {
    background: linear-gradient(90deg, #F5F5ED 0%, #F5F5ED 50%, #B4B49E 50%, #B4B49E 100%);
  }
  .wp-block-group.is-style-linen-sage .wp-block-column:first-child {
    padding-right: 6rem;
  }
  .wp-block-group.is-style-linen-sage .wp-block-column:last-child {
    padding-left: 6rem;
  }
}
.wp-block-group.is-style-pine-green {
  position: relative;
}
.wp-block-group.is-style-pine-green:before, .wp-block-group.is-style-pine-green:after {
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.wp-block-group.is-style-pine-green:before {
  background: linear-gradient(105deg, #192815 -2.5%, #384332 60%);
  z-index: 1;
}
.wp-block-group.is-style-pine-green:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='514' fill='none'%3E%3Cg opacity='.07'%3E%3Cmask id='a' width='1738' height='514' x='-19' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23D9D9D9' d='M-18.936.517h1737.46v513.33H-18.936z'/%3E%3C/mask%3E%3Cg fill='%23B4B49E' mask='url(%23a)'%3E%3Cpath d='M637.361 454.968c0-10.585.399-21.573 1.311-34.402.969-14.037 2.337-26.636 4.104-38.545 1.824-12.254 4.332-24.91 7.524-38.602 18.296-77.838 56.143-150.21 108.866-209.81L1310.4-430.065v-441.884H-105.098v492.683h654.397L-113.99 290.262v442.056h838.444c-.627-.92-1.311-1.783-1.938-2.704-55.687-80.829-85.155-175.81-85.155-274.588v-.058Z'/%3E%3Cpath d='M1114.54 112.323c-84.41 0-161.588 31.124-220.98 82.67-53.408 46.311-92.395 109.133-109.209 180.585-2.109 9.032-3.99 18.122-5.358 27.384-1.368 9.032-2.28 18.179-2.907 27.384-.57 8.112-.969 16.281-.969 24.565 0 94.636 38.018 180.24 99.462 242.199 32.831 33.137 72.331 59.486 116.276 76.86 38.365 15.13 80.025 23.587 123.685 23.587s83.62-8.055 121.29-22.609c9.24-3.567 18.3-7.479 27.14-11.852 113.08-55.573 191-172.703 191-308.185 0-189.214-152.02-342.645-339.49-342.645l.06.057Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.wp-block-group.is-style-pine-green > * {
  position: relative;
  z-index: 5;
}
.wp-block-group.is-style-pine-green h2 {
  color: #fff;
}
.has-sidebar .wp-block-group {
  padding: 0;
}
* + .has-sidebar .wp-block-group {
  margin-top: var(--wp--preset--spacing--m);
}
.has-sidebar .wp-block-group:first-child:not(.has-background) {
  margin-top: 0;
  padding-top: 0;
}
.has-sidebar .wp-block-group.has-background {
  padding: var(--wp--preset--spacing--normal);
}
.has-sidebar .wp-block-group.alignfull {
  padding: var(--wp--preset--spacing--xl) var(--wp--preset--spacing--contentgap);
}
.has-sidebar .wp-block-group + .wp-block-columns,
.has-sidebar .wp-block-group + .wp-block-group {
  margin-top: var(--wp--preset--spacing--m);
}

.home .wp-block-group:first-child {
  padding-top: 18rem !important;
}
@media (min-width: 782px) {
  .home .wp-block-group:first-child {
    padding-top: 27rem !important;
  }
}
