@use "../abstracts/vars" as *;

.wp-block-heading {
    
    &.has-font-88-font-size {
        line-height: 1;
    }

    &.is-style-small-title {
        font-family: $ff-body;
        font-size: $font-20;
        font-weight: 700;
        line-height: 1.4;
        text-transform: uppercase;
        padding-top: 1.2ch;
        color: $secondary;
        border-top: 1px solid $secondary;


        + .is-style-intro--small {
            margin-top: 1.5ch;
        }
    } // small title
    
    &.is-style-top-border {
        padding-top: 1.2rem;
        border-top: 1px solid $secondary;
    } // is-style-top-border
    
    @media (min-width: 782px) and (max-width: 1023px) {
        &.font-lg-md {
            font-size: 3.8rem!important;
        }
    }
}
