@use "../abstracts/vars" as *;
//@use "../abstracts/mixins";

p {
	&:empty {
		display: none;
	}
	
	&.is-style-intro {
		font-family: $ff-title;
		font-size: $font-26;
		line-height: 1.45;
		font-weight: 500;
		color: $moss;		
	}

	&.is-style-footnote {
		font-size: $font-16;
		color: lighten($primary, 20%);
	}

	&.is-style-linkedin {
		padding-left: 32px;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 22px;
			height: 22px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23ACD1C9' d='M7.876 16.188H5.532v-7.55h2.344v7.55Zm-1.173-8.58a1.37 1.37 0 0 1-.96-2.331 1.358 1.358 0 0 1 2.317.96c0 .75-.608 1.37-1.357 1.37Zm9.948 8.58h-2.34v-3.676c0-.876-.017-1.999-1.218-1.999-1.22 0-1.406.952-1.406 1.936v3.739H9.345v-7.55h2.249v1.03h.032c.314-.594 1.078-1.22 2.219-1.22 2.373 0 2.809 1.563 2.809 3.592v4.148h-.003Z'/%3E%3Crect width='21' height='21' x='.5' y='.5' stroke='%23CD136A' rx='1.5'/%3E%3C/svg%3E");
			background-position: top left;
			background-repeat: no-repeat;
			position: absolute;
			top: 4px;
			left: 0;
		}
	}

	&.is-style-email {
		padding-left: 32px;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 22px;
			height: 19px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='19' fill='none'%3E%3Crect width='21' height='17' x='.707' y='1.302' stroke='%23CD136A' rx='1.5'/%3E%3Cpath stroke='%23CD136A' stroke-linejoin='round' d='m3.854 4.428 7.263 7.239 7.299-7.24m-2.94 7.049 3.48 3.7m-15.497-.055 3.384-3.6'/%3E%3C/svg%3E");
			background-position: top left;
			background-repeat: no-repeat;
			position: absolute;
			top: 4px;
			left: 0;
		}
	}

	&.is-style-phone {
		padding-left: 32px;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 26px;
			height: 30px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath stroke='%23CD136A' stroke-linecap='round' stroke-linejoin='round' d='M17.216 5.979a6.224 6.224 0 0 1 4.917 4.917M17.216 1a11.203 11.203 0 0 1 9.896 9.883m-1.245 9.933v3.734a2.489 2.489 0 0 1-2.713 2.49 24.633 24.633 0 0 1-10.742-3.822 24.272 24.272 0 0 1-7.469-7.468A24.633 24.633 0 0 1 1.122 4.958a2.49 2.49 0 0 1 2.477-2.713h3.734a2.49 2.49 0 0 1 2.49 2.14c.157 1.196.45 2.369.87 3.498a2.49 2.49 0 0 1-.56 2.627l-1.58 1.58a19.917 19.917 0 0 0 7.468 7.469l1.581-1.58a2.49 2.49 0 0 1 2.627-.561c1.129.421 2.302.714 3.497.871a2.49 2.49 0 0 1 2.141 2.527Z'/%3E%3C/svg%3E");
			background-size: contain;
			background-position: top left;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&.is-style-location {
		padding-left: 32px;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 18px;
			height: 22px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='22' fill='none'%3E%3Cpath stroke='%23CD136A' d='M8.7.5c4.53 0 8.201 3.668 8.201 8.191 0 2.255-.853 4.151-2.36 6.163-1.449 1.935-3.457 3.924-5.84 6.421-2.385-2.525-4.391-4.513-5.842-6.443C1.352 12.827.5 10.945.5 8.692.5 4.167 4.17.5 8.7.5Z'/%3E%3Ccircle cx='8.7' cy='8.987' r='3.359' stroke='%23CD136A'/%3E%3C/svg%3E");
			background-position: top left;
			background-repeat: no-repeat;
			position: absolute;
			top: 3px;
			left: 0;
		}
	}

	@media (min-width: 1024px) {
		&.maxwidth,
		&.is-style-maxwidth {
			padding-right: 35%;
		}
	}

	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6,
	+ p,
	+ .wp-block-image {
		margin-top: 2.5ch!important;
	}

	+ .accordion {
		margin-top: 3.5ch!important;
	}
}