:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.wp-block-quote:before {
  content: "";
  display: block;
  width: 30px;
  height: 22px;
  margin-bottom: 2.5rem;
  background: #FF6139;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='23' fill='none'%3E%3Cpath stroke='%23FF6139' d='m8.036 1.629 2.7 2.436.33.297-.256.363L8.364 8.2h4.238v14.3H.5V8.493l.146-.146 6.702-6.7.336-.336.352.318Zm17.899 0 2.7 2.436.329.297-.255.363L26.263 8.2H30.5v14.3H18.398V8.493l.147-.146 6.701-6.7.336-.336.353.318Z'/%3E%3C/svg%3E");
  mask-size: cover;
}
.wp-block-quote p {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--font-20);
  font-style: italic;
  line-height: 1.4;
  color: #272928;
}
.wp-block-quote p:first-child {
  padding-top: 2rem;
  border-top: 1px solid #FF6139;
}
.wp-block-quote + * {
  margin-top: 2.5ch !important;
}
.wp-block-quote cite {
  font-size: var(--wp--preset--font-size--font-16);
  margin-top: 2.2rem;
  padding-top: 2.2rem;
  border-top: 1px solid #FF6139;
}
.wp-block-quote.has-background {
  padding: var(--wp--preset--spacing--normal);
}

.has-olive-background-color .wp-block-quote:before,
.has-pine-background-color .wp-block-quote:before,
.has-black-background-color .wp-block-quote:before,
.has-primary-background-color .wp-block-quote:before,
.has-moss-background-color .wp-block-quote:before,
.has-brick-background-color .wp-block-quote:before {
  background: #fff;
}
