:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.wp-block-table + h2,
.wp-block-table + h3,
.wp-block-table + h4,
.wp-block-table + h5,
.wp-block-table + h6,
.wp-block-table + p,
.wp-block-table + ul,
.wp-block-table + ol {
  margin-top: 2.5ch !important;
}
.wp-block-table + .is-style-small-title {
  margin-top: 5ch !important;
}
@media (max-width: 781px) {
  .wp-block-table.is-style-swipe {
    width: 88vw;
    padding-top: 45px;
    position: relative;
  }
  .wp-block-table.is-style-swipe .wp-block-table-wrap {
    overflow: scroll;
  }
  .wp-block-table.is-style-swipe table {
    min-width: 700px;
    margin-bottom: 20px;
  }
  .wp-block-table.is-style-swipe table:before {
    content: "";
    display: block;
    height: 1px;
    background: rgba(39, 41, 40, 0.3);
    position: absolute;
    top: 11px;
    left: 0;
    right: 0;
  }
  .wp-block-table.is-style-swipe table:after {
    content: "";
    display: block;
    width: 80px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='21' viewBox='0 0 80 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.765381' width='80' height='20' rx='10' fill='%23384332'/%3E%3Cpath d='M52.4927 8.28643V10.2852H54.8441V11.1964H52.4927V13.2833H55.1381V14.1945H51.3757V7.37524H55.1381V8.28643H52.4927Z' fill='white'/%3E%3Cpath d='M49.8205 9.41338C49.8205 9.75957 49.7389 10.0862 49.5756 10.3932C49.4123 10.7002 49.151 10.9516 48.7918 11.1476C48.4325 11.337 47.972 11.4317 47.4103 11.4317H46.1758V14.1947H45.0588V7.38525H47.4103C47.9328 7.38525 48.3737 7.4767 48.733 7.65959C49.0988 7.83595 49.3698 8.07763 49.5462 8.38462C49.7291 8.69162 49.8205 9.03454 49.8205 9.41338ZM47.4103 10.5205C47.8349 10.5205 48.1517 10.4258 48.3607 10.2364C48.5697 10.0404 48.6742 9.7661 48.6742 9.41338C48.6742 8.66876 48.2529 8.29644 47.4103 8.29644H46.1758V10.5205H47.4103Z' fill='white'/%3E%3Cpath d='M43.1028 7.38525V14.1947H41.9858V7.38525H43.1028Z' fill='white'/%3E%3Cpath d='M40.5746 7.38525L38.5562 14.1947H37.2923L35.8618 9.04107L34.3432 14.1947L33.0891 14.2045L31.1589 7.38525H32.3445L33.7553 12.9308L35.2838 7.38525H36.5379L37.9586 12.9014L39.3792 7.38525H40.5746Z' fill='white'/%3E%3Cpath d='M27.5482 14.2633C27.091 14.2633 26.6794 14.1849 26.3137 14.0282C25.9479 13.8649 25.6605 13.6363 25.4515 13.3423C25.2424 13.0484 25.1379 12.7055 25.1379 12.3136H26.3333C26.3594 12.6075 26.4737 12.8492 26.6762 13.0386C26.8852 13.228 27.1759 13.3227 27.5482 13.3227C27.9336 13.3227 28.234 13.2313 28.4496 13.0484C28.6651 12.859 28.7729 12.6173 28.7729 12.3234C28.7729 12.0947 28.7043 11.9086 28.5671 11.7649C28.4365 11.6212 28.2699 11.5101 28.0675 11.4318C27.8715 11.3534 27.5972 11.2685 27.2445 11.177C26.8003 11.0594 26.4378 10.9419 26.1569 10.8243C25.8826 10.7002 25.6474 10.5108 25.4515 10.256C25.2555 10.0013 25.1575 9.66164 25.1575 9.23707C25.1575 8.84516 25.2555 8.50224 25.4515 8.20831C25.6474 7.91438 25.9218 7.68903 26.2745 7.53226C26.6272 7.3755 27.0354 7.29712 27.4992 7.29712C28.1589 7.29712 28.6978 7.46368 29.1158 7.7968C29.5404 8.12339 29.7755 8.57409 29.8213 9.14889H28.5867C28.5671 8.90068 28.4496 8.6884 28.234 8.51204C28.0185 8.33568 27.7343 8.2475 27.3816 8.2475C27.0616 8.2475 26.8003 8.32915 26.5978 8.49244C26.3953 8.65574 26.2941 8.89088 26.2941 9.19788C26.2941 9.4069 26.3561 9.57999 26.4802 9.71716C26.6109 9.84779 26.7742 9.9523 26.9701 10.0307C27.1661 10.1091 27.4339 10.194 27.7735 10.2854C28.2242 10.4095 28.59 10.5336 28.8709 10.6577C29.1583 10.7818 29.4 10.9745 29.5959 11.2358C29.7984 11.4905 29.8996 11.8335 29.8996 12.2646C29.8996 12.6108 29.8049 12.9373 29.6155 13.2443C29.4326 13.5513 29.1615 13.7995 28.8023 13.989C28.4496 14.1719 28.0315 14.2633 27.5482 14.2633Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5331 13.9841C14.694 14.145 14.9548 14.145 15.1157 13.9841C15.2765 13.8232 15.2765 13.5624 15.1157 13.4016L12.8827 11.1686L19.1117 11.1686C19.3261 11.1686 19.5 10.9947 19.5 10.7802C19.5 10.5658 19.3261 10.3919 19.1117 10.3919L12.8827 10.3919L15.1157 8.15889C15.2765 7.99802 15.2765 7.73724 15.1157 7.57637C14.9548 7.4155 14.694 7.4155 14.5332 7.57637L11.6206 10.4889C11.5484 10.5612 11.5086 10.6537 11.5012 10.7482C11.4922 10.864 11.532 10.983 11.6206 11.0716L14.5331 13.9841Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M65.4669 13.9841C65.306 14.145 65.0452 14.145 64.8843 13.9841C64.7235 13.8232 64.7235 13.5624 64.8843 13.4016L67.1173 11.1686L60.8883 11.1686C60.6739 11.1686 60.5 10.9947 60.5 10.7802C60.5 10.5658 60.6739 10.3919 60.8883 10.3919L67.1173 10.3919L64.8843 8.15889C64.7235 7.99802 64.7235 7.73724 64.8843 7.57637C65.0452 7.4155 65.306 7.4155 65.4668 7.57637L68.3794 10.4889C68.4516 10.5612 68.4914 10.6537 68.4988 10.7482C68.5078 10.864 68.468 10.983 68.3794 11.0716L65.4669 13.9841Z' fill='white'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    right: 10px;
  }
  .wp-block-table.is-style-swipe table ::-webkit-scrollbar:vertical {
    display: none;
    width: 0;
  }
  .wp-block-table.is-style-swipe table ::-webkit-scrollbar {
    height: 10px;
  }
  .wp-block-table.is-style-swipe table ::-webkit-scrollbar-thumb:horizontal {
    background: rgba(56, 67, 50, 0.5);
    border-radius: 10px;
    border: none;
    transition: background 0.35s ease-in-out;
  }
  .wp-block-table.is-style-swipe table ::-webkit-scrollbar-thumb:horizontal:hover {
    background: rgba(56, 67, 50, 0.99);
  }
  .wp-block-table.is-style-swipe table ::-webkit-scrollbar-track:horizontal {
    background: rgba(56, 67, 50, 0.1);
    border-radius: 10px;
  }
}
.wp-block-table.strategy thead th {
  width: 20%;
}
.wp-block-table.strategy thead th:nth-child(2) {
  background: #E5EBEB;
}
.wp-block-table.strategy thead tr:nth-child(2) th:nth-child(3) {
  background: #E5EBEB;
}
.wp-block-table.strategy tbody td:nth-child(2), .wp-block-table.strategy tbody td:nth-child(3) {
  background: #E5EBEB;
}

h2 + .wp-block-table, h3 + .wp-block-table, h4 + .wp-block-table, h5 + .wp-block-table, h6 + .wp-block-table, p + .wp-block-table, ul + .wp-block-table, ol + .wp-block-table {
  margin-top: 2.5ch;
}

table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}
table thead,
table tfoot {
  font-weight: 500;
  text-transform: unset;
}
table thead {
  border-top: none !important;
  border-bottom: 1px solid #FF6139 !important;
}
table thead th {
  font-weight: 700;
  padding: 0.8rem 2rem !important;
  color: #60291B;
  border: none !important;
}
table thead tr + tr {
  border-top: 1px solid rgba(56, 67, 50, 0.15);
}
table td {
  padding: 1rem 2rem !important;
  border: none !important;
}
table tbody tr {
  border-top: 1px solid rgba(56, 67, 50, 0.15);
}
table tbody tr:first-child {
  border-top: none;
}
table tbody tr:nth-child(odd) {
  background: rgba(229, 235, 235, 0.2);
}
table tfoot {
  border-top: 1px solid #FF6139 !important;
  border-bottom: none !important;
}
table tfoot td {
  font-weight: 600;
  padding: 0.8rem 2rem !important;
  color: #000;
  background: none;
}

.accordion table tbody tr {
  border-bottom: 1px solid rgba(56, 67, 50, 0.25);
}
.accordion table tbody tr:first-child {
  border-top: 1px solid rgba(56, 67, 50, 0.85);
}
.accordion table tbody tr:last-child {
  border-bottom: 1px solid rgba(56, 67, 50, 0.85);
}
