@use "../../../scss/abstracts/vars" as *;

.icon-list {
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    
    + .icon-list {
        margin-top: 3rem;
    }
    
    &.box {
        padding: 2.5ch;
        background: $linen;
    }

    li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 80px;
        margin: 0;
        padding: 0 0 0 70px;
        position: relative;
        
        .list-content {
            display: block;
            width: 100%;
            padding-bottom: 2.7rem;
            margin-bottom: 2rem;
            border-bottom: 1px solid $secondary;
        }

        br {
            display: none;
        }

        h3 {
            font-size: $font-26;
            font-weight: 600;
            margin: 0 0 .5ch 0;
            color: $pine
        }
        
        P {
            &:last-child {
                margin-bottom: 0;
            }
            
            + p {
                margin-top: -.8ch!important;
            }
        }
        
        &:last-child {
            margin: 0;
            
            .list-content {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: none;
            }
        }
    }

// ul default
    &:not(.is-style-ol) {
        li {
            padding-left: 95px;

            img {
                width: 70px;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }   
    
    &.is-style-ol {
        counter-reset: item;

        li {
            &:after {
                counter-increment: item;
                content: counter(item);
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 46px;
                height: 46px;
                font-family: $ff-title;
                font-size: $font-22;
                font-weight: 500;
                line-height: 1;
                color: $white;
                //background: $grad;
                background: $secondary;
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
            
            &:first-child {
                &:before {
                    top: 15px;
                }
            }
            &:last-child {
                &:before {
                    bottom: calc(100% - 30px);
                }
            }

            img {
                display: none;
            }
        }
    }

    * + &,
    + * {
        margin-top: 4ch!important;
    }

    @media (min-width: 1024px) {
        &.sticky {
            position: sticky;
            top: 120px;
        }
    }
}

.wp-block-cover {
    .icon-list {
        li {
            color: #fff;
        }
    }
}