:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.icon-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 80px;
  margin: 0 0 1.5rem 0;
  position: relative;
}
.icon-list li:last-child {
  margin: 0;
}
.icon-list li br {
  display: none;
}
.icon-list li strong {
  display: block;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--font-22);
  font-weight: 500;
  letter-spacing: -0.05ch;
  color: #384332;
}
.icon-list:not(.is-style-ol) li {
  padding: 24px 24px 24px 102px;
  background: rgba(56, 67, 50, 0.1);
  border-radius: 5px;
}
.icon-list:not(.is-style-ol) li img {
  width: 54px;
  height: auto;
  position: absolute;
  top: 28px;
  left: 24px;
}
.icon-list.is-style-ol {
  counter-reset: item;
}
.icon-list.is-style-ol li {
  margin: 0;
  padding: 15px 0 15px 65px;
}
.icon-list.is-style-ol li:before {
  content: "";
  display: block;
  width: 4px;
  background: rgba(56, 67, 50, 0.2);
  position: absolute;
  top: 0;
  left: 21px;
  bottom: 0;
}
.icon-list.is-style-ol li:after {
  counter-increment: item;
  content: counter(item);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--font-22);
  font-weight: 500;
  line-height: 1;
  color: #fff;
  background: linear-gradient(114deg, #CD136A -50%, #1A2A6C 165%);
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 0;
}
.icon-list.is-style-ol li:first-child:before {
  top: 15px;
}
.icon-list.is-style-ol li:last-child:before {
  bottom: calc(100% - 30px);
}
.icon-list.is-style-ol li img {
  display: none;
}
h2 + .icon-list {
  margin-top: 4rem;
}
@media (min-width: 1024px) {
  .icon-list.sticky {
    position: sticky;
    top: 120px;
  }
}

.wp-block-cover .icon-list li {
  color: #fff;
}
