:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.icon-list + .icon-list {
  margin-top: 3rem;
}
.icon-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 0 0 0 70px;
  position: relative;
}
.icon-list li .list-content {
  display: block;
  width: 100%;
  padding-bottom: 2.7rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #FF6139;
}
.icon-list li br {
  display: none;
}
.icon-list li h3 {
  font-size: var(--wp--preset--font-size--font-26);
  font-weight: 600;
  margin: 0 0 0.5ch 0;
  color: #192815;
}
.icon-list li P:last-child {
  margin-bottom: 0;
}
.icon-list li:last-child {
  margin: 0;
}
.icon-list li:last-child .list-content {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.icon-list:not(.is-style-ol) li {
  padding-left: 95px;
}
.icon-list:not(.is-style-ol) li img {
  width: 70px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-list.is-style-ol {
  counter-reset: item;
}
.icon-list.is-style-ol li:after {
  counter-increment: item;
  content: counter(item);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--font-22);
  font-weight: 500;
  line-height: 1;
  color: #fff;
  background: #FF6139;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-list.is-style-ol li:first-child:before {
  top: 15px;
}
.icon-list.is-style-ol li:last-child:before {
  bottom: calc(100% - 30px);
}
.icon-list.is-style-ol li img {
  display: none;
}
* + .icon-list,
.icon-list + * {
  margin-top: 4ch !important;
}
@media (min-width: 1024px) {
  .icon-list.sticky {
    position: sticky;
    top: 120px;
  }
}

.wp-block-cover .icon-list li {
  color: #fff;
}
