:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.accordion + .accordion {
  margin-top: 0 !important;
}
.accordion__title {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  line-height: 1.25;
  padding: 2rem 45px 2rem 2rem;
  margin: 0 0 2rem 0;
  background: rgba(56, 67, 50, 0.05);
  border: 1px solid rgba(56, 67, 50, 0.075);
  border-radius: 14px;
  position: relative;
  cursor: pointer;
  transition: background 0.35s ease-in-out, border 0.35s ease-in-out;
}
.accordion__title:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #FF6139;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath stroke='%23F5007B' stroke-linecap='square' d='M7.871 8.214v-7M7.87 8.216h7M7.87 8.217v7M7.87 8.215h-7'/%3E%3C/svg%3E");
  mask-size: cover;
  position: absolute;
  top: 25px;
  right: 2rem;
  transition: transform 0.35s ease-in-out;
}
.accordion__title .title {
  width: calc(100% - 90px);
  font-size: var(--wp--preset--font-size--font-22);
  margin: 0;
  transition: color 0.35s ease-in-out;
}
.accordion__title .title span {
  display: block;
}
.accordion__title .title span.title-top {
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--font-18);
  margin-bottom: 0.6ch;
  color: #384332;
}
.accordion__title .icon {
  width: 40px;
  height: 40px;
}
.accordion__title .icon img {
  height: auto;
}
.accordion__title:hover .title {
  color: #FF6139;
}
.accordion__title.active {
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(56, 67, 50, 0.15);
}
.accordion__title.active .title {
  color: #FF6139;
}
.accordion__title.active:after {
  transform: rotate(45deg);
}
.accordion__panel {
  display: none;
  overflow: hidden;
}
.accordion__panel .panel-inner {
  margin: 1.2rem 0 var(--wp--preset--spacing--normal) 0;
}
