@use "../../../scss/abstracts/vars" as *;

.company-grid {

    + * {
        margin-top: $space-m;
    }

    &__company {
        display: block;
        margin: 0 0 3rem 0;
        padding: 2.5rem;
        background: rgba($sage, .1);
        border: 1px solid $cloud;

        img {
            width: 100%;
            height: auto;
            margin-bottom: 1.5rem;
        }

        h2 {
            font-family: $ff-body;
            font-size: $font-20;
            font-weight: 700;
            line-height: 1.4;
            text-transform: uppercase;
            padding-top: 2ch;
            color: $secondary;
            border-top: 1px solid $secondary;
        }

        p {
            strong {
                display: block;
                font-family: $ff-title;
                font-size: $font-26;
                font-weight: 500;
                margin-bottom: .8ch;

                + br {
                    display: none;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
            
            + p {
                margin-top: 0!important;
            }
        }    
    }

    a.company-grid__company {
        transition: background $speed $cb, border $speed $cb;

        &:hover,
        &:active,
        &:focus {
            background: rgba($sage, .2);
            border: 1px solid $secondary;
        }
    }

    @media (min-width: 700px) {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        
        &__company {
            width: calc(50% - 2rem);
            margin: 0;
            padding: 3rem;
        }
    }
    
}