@use "../../../scss/abstracts/vars" as *;

.timeline {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: $space-n;
    
    
    + .timeline {
        margin-top: $space-n;
    }

    .col {
        padding-top: $space-n;
        border-top: 1px dashed rgba($moss, .25);
    }

    .year {
        font-family: $ff-title;
        font-size: $font-26;
        margin: 0;
        padding: 0 0 0 22px;
        color: $moss;
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 11px;
            height: 11px;
            mask: url("data:image/svg+xml,%3Csvg width='11' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5.641' cy='5.729' r='4.5' transform='rotate(-90 5.641 5.729)' stroke='%23CD136A'/%3E%3Ccircle cx='5.641' cy='5.728' r='2.32' transform='rotate(-90 5.641 5.728)' fill='%23CD136A'/%3E%3C/svg%3E");
            background: $secondary;
            mask-size: cover;
            position: absolute;
            top: 13px;
            left: 0;
            transition: background $speed $ease;
        }
    }

    @media (min-width: 800px) {
        flex-direction: row;
        gap: 5rem;

        .col-1 {
            flex: 1;
        }

        .col-2 {
            flex: 1.3;
        }
    }

    @media (min-width: 1024px) {
        .col-1 {
            .inner {
                position: sticky;
            top: 120px;
            }
        }
    }
}