@use "../../../scss/abstracts/vars" as *;

.timeline {

    .event {
        margin-bottom: 3rem;
        color: $primary;

        &:last-child {
            margin-bottom: 0;
        }

        > * {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__date {
        margin: 0 0 1.5ch 0;
    }

    &__event-block {
        padding-bottom: 5rem;
        position: relative;

        &:last-child {
            padding-bottom: 0;
        }

        &:before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: $secondary;
            border-radius: 100%;
            position: absolute;
            top: 10px;
            left: 0;
            z-index: 3;
            transition: background calc($speed * 2) $cb, box-shadow calc($speed * 2) $cb;
        }

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            background: rgba($secondary, .2);
            position: absolute;
            top: 0;
            left: 8px;
            z-index: 1;
        }

        h2 {
            font-size: $font-54;
            font-weight: 600;
            margin: 0;
            color: $olive;
        }

        ul, ol {
            list-style: none;
            padding-left: 15px;
            margin: 0;

            li {
                margin: 0 0 1rem 0;
                padding: 2.5rem;
                background: rgba($sage, .15);
                
                
                &:nth-child(even) {
                    background: rgba($sage, .25);
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        &.active {
            &:before {
                background: #fff;
                box-shadow: 0 0 0 5px $secondary;
            }
        }

        .divider {
            display: block;
            width: 1px;
            background: $secondary;
            position: absolute;
            top: 0;
            z-index: 2;
        }
        
        @media (max-width: 599px) {
            padding-left: 36px;

            .divider {
                left: 8px;
            }
        }

        @media (min-width: 600px) {
            &:before {
                top: 5px;
                left: calc(35% - 8px);
            }

            &:after {
                left: 35%;
            }

            .divider {
                left: 35%;
            }
        }
    }

    @media (max-width: 599px) {
        padding-left: 6px;
    }

    @media (min-width: 600px) {

        &__event-block {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;

            > div {
                &.timeline__date {
                    width: calc(35% - 30px);
                }

                &.timeline__events {
                    width: calc(65% - 30px);
                }
            }
        }
    }

    @media (min-width: 1024px) {
        &__event-block {

            .inner {
                position: sticky;
                top: 130px;
            }

            .timeline__date {
                margin-bottom: 0;
            }
        }
    }
}

.timeline-tabs {
    ul.tabs {
        justify-content: center;
        margin: 0 0 $space-m 0;
        background: transparent;
        border-radius: 0;
        position: relative;

        &:before {
            content: "";
            display: block;
            height: 1px;
            background: linear-gradient(90deg, $secondary 0%, $secondary 50%, $sage 50%, $sage 100%);
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            right: 0;
            opacity: .5
        }

        a {
            height: auto;
            font-size: $font-26;
            font-weight: 300;
            background: #fff!important;
            border-radius: 0;
            transition: font-weight $speed $cb;

            &.active,
            &:hover,
            &:active,
            &:focus {
                font-weight: 400;
            }
        }

        li {
            margin: 0;
            padding: 0;

            &:first-child {
                a {
                    padding: 0 .8ch 0 1.6ch;
                    color: $primary!important;
                }
            }

            &:last-child {
                a {
                    padding: 0 1.6ch 0 .8ch;
                    color: $secondary!important;
                }
            }
        }
    }
}
