@import "../../../scss/abstracts/vars";

.is-style-accordion-wrap {
    .accordion {
        &:not(:first-child) {
            margin-top: 0 !important;
        }

        &__title {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 3rem;
            line-height: 1.25;
            padding: 2ch 45px 2ch 0;
            margin: 0;
            border-bottom: $grid;
            position: relative;
            cursor: pointer;
            transition: color $speed $ease;

            &:after {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-color: $secondary;
                mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath stroke='%23F5007B' stroke-linecap='square' d='M7.871 8.214v-7M7.87 8.216h7M7.87 8.217v7M7.87 8.215h-7'/%3E%3C/svg%3E");
                mask-size: cover;
                position: absolute;
                top: calc(50% - 14px);
                right: 0;
                transition: transform $speed $ease;
            }

            .title {
                width: calc(100% - 90px);
                font-size: $font-20;
                margin: 0;

                span {
                    display: block;

                    &.title-top {
                        color: $mint;
                    }
                }
            }

            .icon {
                width: 40px;
                height: 40px;

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &:hover .title {
                color: $green;
            }

            &.active {
                .title {
                    color: $green;
                }

                &:after {
                    transform: rotate(45deg);
                }
            }
        }

        &__panel {
            display: none;
            overflow: hidden;

            .panel-inner {
                margin: $space-n 0;
                padding: $space-n $space-n calc($space-n - 1ch) $space-n;
                background: linear-gradient(180deg, $ink 0%, $coal 100%);
                border: $grid;
                border-radius: $br;
            }

            ul {
                list-style: none;
                margin-bottom: 0;
                padding: 0;

                li {
                    margin: 0;
                    padding: 2rem 0 2rem 5rem;
                    border-bottom: $grid-dash;
                    position: relative;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:before {
                        content: "";
                        display: block;
                        width: 30px;
                        height: 30px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='30' fill='none'%3E%3Cpath fill='%23F5007B' d='M28.919 8.513a15 15 0 1 1-3.36-4.548L29.354.17a.6.6 0 0 1 .847.847L15.825 15.393a.6.6 0 0 1-.848-.847l4.643-4.643a6.59 6.59 0 1 0 2.363 4.688.6.6 0 0 1 1.198-.07 7.787 7.787 0 1 1-2.71-5.467l4.244-4.243a13.778 13.778 0 0 0-19.048 19.9A13.778 13.778 0 0 0 27.83 9.03a.6.6 0 1 1 1.082-.516h.006Z'/%3E%3C/svg%3E");
                        background-size: cover;
                        position: absolute;
                        top: 2.25rem;
                        left: 0;
                    }

                    strong {
                        font-family: $ff-title;
                        font-size: $font-20;
                        color: $white;
                    }
                }
            }
        }

        &.no-border {
            .accordion__title {
                border-bottom: none;
            }
        }
    }
}