:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.latest-document + .latest-document {
  margin-top: 3rem;
}
.latest-document .cover {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.35s ease-in-out;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.latest-document .cover:after {
  content: "";
  display: block;
  background: #000;
  opacity: 0.5;
  transition: opacity 0.35s ease-in-out;
  position: absolute;
  inset: 0;
}
.latest-document .inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--wp--preset--spacing--normal);
  position: relative;
  z-index: 3;
}
.latest-document h3 {
  font-size: var(--wp--preset--font-size--font-32);
  font-weight: 600;
  line-height: 1.25;
  padding-top: 0.5ch;
  color: #fff;
  border-top: 1px solid #FF6139;
}
@media (max-width: 1023px) {
  .latest-document h3 {
    margin-bottom: calc(5ch + 15vw);
  }
}
.latest-document .title {
  min-wheight: 54px;
  padding: 0 0 0 70px;
  position: relative;
}
.latest-document .title span {
  display: block;
  color: #fff;
}
.latest-document .title span.name {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--font-20);
  font-weight: 600;
  line-height: 1.35;
}
.latest-document .title svg {
  position: absolute;
  top: 0;
  left: 0;
}
.latest-document .title svg .circle {
  transition: fill 0.35s ease-in-out;
}
.latest-document .title svg .arrow {
  transition: stroke 0.35s ease-in-out;
}
.latest-document a {
  display: block;
  position: relative;
  overflow: hidden;
}
.latest-document a:hover .cover {
  transform: scale(1.025);
}
.latest-document a:hover .cover:after {
  opacity: 0.3;
}
.latest-document a:hover .title svg .circle {
  fill: #FF6139;
}
.latest-document a:hover .title svg .arrow {
  stroke: #fff;
}
.latest-document a:not(.sh-box) .inner {
  aspect-ratio: 1/1.2;
}
.latest-document a.sh-box .inner {
  height: 100%;
}
