@use "../../../scss/abstracts/vars" as *;

.latest-document {
	
	+ .latest-document {
		margin-top: 3rem;
	}
	
	.cover {
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: transform $speed $ease;
		position: absolute;
		inset: 0;
		z-index: 1;
		
		&:after {
			content: "";
			display: block;
			background: $black;
			opacity: .5;
			transition: opacity $speed $ease;
			position: absolute;
			inset: 0;
		}
	}
	
	.inner {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		padding: $space-n;
		position: relative;
		z-index: 3;
	}
	
	h3 {
		font-size: $font-32;
		font-weight: 600;
		line-height: 1.25;
		padding-top: .5ch;
		color: $white;
		border-top: 1px solid $secondary;
		
		@media (max-width: 1023px) {
			margin-bottom: calc(5ch + 15vw);
		}
	}
	
	.title {
		min-wheight: 54px;
		padding: 0 0 0 70px;
		position: relative;
		
		span  {
			display: block;
			color: $white;
			
			&.name {
				font-family: $ff-title;
				font-size: $font-20;
				font-weight: 600;
				line-height: 1.35;
			}
		}
		
		svg {
			position: absolute;
			top: 0;
			left: 0;
			
			.circle {
				transition: fill $speed $ease;
			}
			
			.arrow {
				transition: stroke $speed $ease;
			}
		}
	}
	
	a {
		display: block;
		position: relative;
		overflow: hidden;
		
		&:hover {
			.cover {
				transform: scale(1.025);
				
				&:after {
					opacity: .3;
				}
			}
			
			.title {
				svg {
					.circle {
						fill: $secondary;
					}
					
					.arrow {
						stroke: $white;
					}
				}
			}
		}
		
		&:not(.sh-box) {
			.inner {
				aspect-ratio: 1 / 1.2;
			}
		}
		
		&.sh-box {
			.inner {
				height: 100%;
			}
		}
	}
}
