@use "../../../scss/abstracts/vars" as *;
.team-listing {
	overflow: hidden;
	
	p + &,
	h2 + &,
	h3 + &,
	h4 + &,
	h5 + &,
	h6 + & {
		margin-top: 3rem;
	}

	+ .team {
		margin-top: 3rem;
	}

	div + & {
		margin-top: 4rem;
	}

	&.team-fade {
		
		.team-head:not(.open) {
			h3, p {
				opacity: .35;
			}
		}
	}
} // team

.team-head {
	margin: 0 0 20px 0;
	padding: 8px;
	background: darken($cloud, 1.5%);
	border-radius: 6px;
	position: relative;
	cursor: pointer;

	img {
		width: 100%;
		height: auto;
		line-height: 0;
		margin: 0;
		border-radius: 4px;
		aspect-ratio: 1/1;
		object-fit: cover;
	}

	.profile {
		width: 100%;
		line-height: 0;
	}
	
	.team-details {
		display: flex;
		width: 100%;
		margin: 0;

		.title {
			width: 100%;
			padding: 1.9rem 0 1.4rem 0;
		}

		h3 {
			font-size: $font-26;
			font-weight: 400;
			margin-bottom: .15ch;
			color: $moss;
			transition: color .18s ease-in-out, opacity .18s ease-in-out;
		}

		p {
			font-size: $font-16;
			margin: 0;
			//color: $moss;
			transition: color .18s ease-in-out, font-weight .18s ease-in-out, opacity .18s ease-in-out;
		}
	} // team-details
	
	&.open,
	&:hover {
		.team-details {
			border-bottom-color: $moss;

			h3, p {
				//color: $gold;
			}
		}
	}

	// &.open {
	// 	.team-details {
	// 		p {
	// 			font-weight: 400;
	// 		}
	// 	}
	// }
	
} // team head

.team-bio {
	width: 100%;
	height: 0;
	transition: height .3s ease-in-out, border .3s ease-in-out;
    overflow: hidden;

	.inner {
		margin: 0 0 20px 0;
		opacity: 0;

		@media (max-width: 782px) {
			padding-top: 0;
		}
	}

	.wp-block-columns {
		margin: 0;
	}
	
	.wp-block-column {
		&:nth-child(2) {
			padding: var(--spacer);
			background: rgba($moss, .3);
			border-radius: 5px;
		}
	}

	h3 {
		font-size: $font-22;
		font-weight: 400;
		margin-bottom: 1ch;
	}

	p {
		&:last-of-type {
			margin: 0;
		}
	}

	&.active-tab {
		height: auto;

		.inner {
			animation: fadeIn 1s forwards .15s;
		}
	}
}

@media (min-width: 420px) {

	.team-listing {
		margin: 0 -18px 0px -8px;
	}

	.team-head {
		width: calc(50% - 23px);
		display: inline-flex;
		flex-wrap: wrap;
		align-items: baseline;
		margin: 0 7px 20px 8px;

		.team-details {
			h3 {
				font-size: $font-26;
			}
		}
	} //head
	
	.team-bio {
		float: left;
		padding-left: 8px;
		padding-right: 18px;
	}

}

@media (max-width: 749px) {
	.acc-panel {
		margin-bottom: 0!important;
		padding-bottom: 0!important;
	}
}

@media (min-width: 750px) {
	.team-head {
		width: calc(33.33% - 22px);
	}
	.team-bio {
		padding-right: 21px;
	}
}

.page-template-page-full-width {
	.team-head {
		background: $cloud;
	}

	@media (min-width: 1100px) {
		.team-head {
			width: calc(25% - 21px);
		}
		.team-bio {
			padding-right: 21px;
		}
	}
}