:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.team-listing {
  overflow: hidden;
}
p + .team-listing, h2 + .team-listing, h3 + .team-listing, h4 + .team-listing, h5 + .team-listing, h6 + .team-listing {
  margin-top: 3rem;
}
.team-listing + .team {
  margin-top: 3rem;
}
div + .team-listing {
  margin-top: 4rem;
}
.team-listing.team-fade .team-head:not(.open) h3, .team-listing.team-fade .team-head:not(.open) p {
  opacity: 0.35;
}

.team-head {
  margin: 0 0 20px 0;
  padding: 8px;
  background: rgb(224.6760869565, 231.6739130435, 231.6739130435);
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
.team-head img {
  width: 100%;
  height: auto;
  line-height: 0;
  margin: 0;
  border-radius: 4px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.team-head .profile {
  width: 100%;
  line-height: 0;
}
.team-head .team-details {
  display: flex;
  width: 100%;
  margin: 0;
}
.team-head .team-details .title {
  width: 100%;
  padding: 1.9rem 0 1.4rem 0;
}
.team-head .team-details h3 {
  font-size: var(--wp--preset--font-size--font-26);
  font-weight: 400;
  margin-bottom: 0.15ch;
  color: #384332;
  transition: color 0.18s ease-in-out, opacity 0.18s ease-in-out;
}
.team-head .team-details p {
  font-size: var(--wp--preset--font-size--font-16);
  margin: 0;
  transition: color 0.18s ease-in-out, font-weight 0.18s ease-in-out, opacity 0.18s ease-in-out;
}
.team-head.open .team-details, .team-head:hover .team-details {
  border-bottom-color: #384332;
}
.team-bio {
  width: 100%;
  height: 0;
  transition: height 0.3s ease-in-out, border 0.3s ease-in-out;
  overflow: hidden;
}
.team-bio .inner {
  margin: 0 0 20px 0;
  opacity: 0;
}
@media (max-width: 782px) {
  .team-bio .inner {
    padding-top: 0;
  }
}
.team-bio .wp-block-columns {
  margin: 0;
}
.team-bio .wp-block-column:nth-child(2) {
  padding: var(--spacer);
  background: rgba(56, 67, 50, 0.3);
  border-radius: 5px;
}
.team-bio h3 {
  font-size: var(--wp--preset--font-size--font-22);
  font-weight: 400;
  margin-bottom: 1ch;
}
.team-bio p:last-of-type {
  margin: 0;
}
.team-bio.active-tab {
  height: auto;
}
.team-bio.active-tab .inner {
  animation: fadeIn 1s forwards 0.15s;
}

@media (min-width: 420px) {
  .team-listing {
    margin: 0 -18px 0px -8px;
  }
  .team-head {
    width: calc(50% - 23px);
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0 7px 20px 8px;
  }
  .team-head .team-details h3 {
    font-size: var(--wp--preset--font-size--font-26);
  }
  .team-bio {
    float: left;
    padding-left: 8px;
    padding-right: 18px;
  }
}
@media (max-width: 749px) {
  .acc-panel {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
}
@media (min-width: 750px) {
  .team-head {
    width: calc(33.33% - 22px);
  }
  .team-bio {
    padding-right: 21px;
  }
}
.page-template-page-full-width .team-head {
  background: #E5EBEB;
}
@media (min-width: 1100px) {
  .page-template-page-full-width .team-head {
    width: calc(25% - 21px);
  }
  .page-template-page-full-width .team-bio {
    padding-right: 21px;
  }
}
