:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.link-cta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 380px;
  padding: var(--wp--preset--spacing--normal);
  overflow: hidden;
  position: relative;
}
.link-cta .bg {
  display: block;
  background-position: center;
  background-size: cover;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: transform 0.35s ease-in-out;
}
.link-cta .bg:after {
  display: block;
  content: "";
  background: #192815;
  opacity: 0.55;
  position: absolute;
  inset: 0;
  transition: opacity 0.5s ease-in-out;
}
.link-cta__title {
  position: relative;
  z-index: 3;
}
.link-cta__title h2 {
  font-size: var(--wp--preset--font-size--font-44);
  font-weight: 500;
  color: #fff;
  margin: 2.5rem 0;
}
.link-cta__title h3 {
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--font-20);
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  padding-top: 1.2ch;
  color: #fff;
  border-top: 1px solid #FF6139;
}
.link-cta__title p {
  color: #fff;
}
.link-cta .wp-block-buttons {
  z-index: 3;
}

a.link-cta {
  transition: transform 0.35s ease-in-out;
}
a.link-cta:hover .bg, a.link-cta:active .bg, a.link-cta:focus .bg {
  transform: scale(1.025);
}
a.link-cta:hover .bg:after, a.link-cta:active .bg:after, a.link-cta:focus .bg:after {
  opacity: 0.3;
}
a.link-cta:hover .wp-block-button .wp-block-button__link, a.link-cta:active .wp-block-button .wp-block-button__link, a.link-cta:focus .wp-block-button .wp-block-button__link {
  color: #000;
}
a.link-cta:hover .wp-block-button .wp-block-button__link:before, a.link-cta:active .wp-block-button .wp-block-button__link:before, a.link-cta:focus .wp-block-button .wp-block-button__link:before {
  width: calc(100% - 6px);
}
