@use "../../../scss/abstracts/vars" as *;

.link-cta {
    display: flex;
	flex-wrap: wrap;
    flex-direction: column;
    min-height: 380px;
	padding: $space-n;
    overflow: hidden;
    position: relative;
    
    .bg {
        display: block;
        background-position: center;
        background-size: cover;
        position: absolute;
        inset: 0;
        z-index: 1;
        transition: transform $speed $ease;

        &:after {
            display: block;
            content: "";
            background: $pine;
            opacity: .55;
            position: absolute;
            inset: 0;
            transition: opacity .5s $ease;
        }
    }

    &__title {
        position: relative;
        z-index: 3;

        h2 {
            font-size: $font-44;
            font-weight: 500;
            color: $white;
            margin: 2.5rem 0;
        }

        h3 {
            font-family: $ff-body;
            font-size: $font-20;
            font-weight: 700;
            line-height: 1.1;
            text-transform: uppercase;
            padding-top: 1.2ch;
            color: $white;
            border-top: 1px solid $secondary;
        }

        p {
            color: $white;
        }
    }

    .wp-block-buttons {
        z-index: 3;
    }
}

a.link-cta {
    transition: transform $speed $ease;

    &:hover,
    &:active,
    &:focus {

        .bg {
            transform: scale(1.025);
            
            &:after {
                opacity: .3;
            }
        }
        
        .wp-block-button  {
            .wp-block-button__link {
                color: $black;
                
                &:before {
                    width: calc(100% - 6px);
                }   
            }
        }
    }
}

    