:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.lmn-iframe {
  margin-top: 0 !important;
}
.lmn-iframe + .lmn-iframe {
  margin-top: var(--wp--preset--spacing--l) !important;
}
.lmn-iframe iframe {
  border: 0;
  width: 100%;
  overflow: hidden !important;
}
.lmn-iframe.rns-news {
  min-height: 1070px;
}
.lmn-iframe.sp-circle {
  width: 98%;
  max-width: 340px;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  border: 1px solid #FF6139;
  border-radius: 100%;
  opacity: 0;
  position: relative;
  z-index: 3;
}
.lmn-iframe.sp-circle:before {
  content: "";
  display: block;
  background: #FF6139;
  border-radius: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.lmn-iframe.sp-circle.in-view {
  animation: fadeIn 1.25s forwards 0.35s;
}
.lmn-iframe.sp-circle.in-view:before {
  animation: inset 1.75s forwards 0.15s;
}
.lmn-iframe.sp-circle iframe {
  position: relative;
  z-index: 5;
}

* + .lmn-iframe {
  margin-top: var(--wp--preset--spacing--normal) !important;
}
