@use "../../../scss/abstracts/vars" as *;

.lmn-iframe {
	margin-top: 0!important;

	+ .lmn-iframe {
		margin-top: $space-l!important;
	}

	iframe {
		border: 0;
		width: 100%;
		overflow: hidden !important;
	}

	&.rns-news {
		min-height: 1070px;
	}
	
	&.sp-circle {
		width: 98%;
		max-width: 340px;
		aspect-ratio: 1/1;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
		border: 1px solid $secondary;
		border-radius: 100%;
		opacity: 0;
		position: relative;
		z-index: 3;
		
		&:before {
			content: "";
			display: block;
			background: $secondary;
			border-radius: 100%;
			position: absolute;
			inset: 0;
			z-index: 1;
		}
		
		&.in-view {
			animation: fadeIn 1.25s forwards .35s;
			
			&:before {
				animation: inset 1.75s forwards .15s;
			}
		}
		
		iframe {
			position: relative;
			z-index: 5;
		}
	}
	
	
	
	
	
	
}

* + .lmn-iframe {
	margin-top: $space-n!important;
}

