:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.lmn-iframe {
  margin-top: 0 !important;
}
.lmn-iframe + .lmn-iframe {
  margin-top: var(--wp--preset--spacing--l) !important;
}
.lmn-iframe iframe {
  border: 0;
  width: 100%;
  overflow: hidden !important;
}
.lmn-iframe.hp-shareprice {
  padding: var(--wp--preset--spacing--small);
  background: #fff;
}
.lmn-iframe.bx-white {
  padding: var(--wp--preset--spacing--normal);
  background: #fff;
  border: 1px solid rgba(56, 67, 50, 0.15);
  border-radius: 14px;
}
.lmn-iframe.bx-beige {
  padding: var(--wp--preset--spacing--normal);
  background: #E5EBEB;
  border: 1px solid rgba(56, 67, 50, 0.05);
  border-radius: 14px;
}
.lmn-iframe.rns-news {
  min-height: 1070px;
}
