:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
ul.tabs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 3rem 0;
  padding: 0;
  border-top: 1px solid #FF6139;
  position: relative;
}
ul.tabs li {
  margin: 0;
  padding: 0 2.2rem 0 0;
  position: relative;
  z-index: 2;
}
ul.tabs li:last-child {
  padding: 0;
}
ul.tabs a {
  display: block;
  font-size: var(--wp--preset--font-size--font-18);
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0 0 0;
  color: #000;
  transition: color 0.35s ease-in-out;
}
ul.tabs a.active, ul.tabs a:hover, ul.tabs a:active, ul.tabs a:focus {
  color: #FF6139;
}
ul.tabs.fw li {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-basis: 0;
}
ul.tabs.fw li a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vert ul.tabs {
  display: flex;
  flex-direction: column;
  width: calc(35% - 30px);
  margin: 0 30px 0 0;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
}
.vert ul.tabs li {
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0;
}
.vert ul.tabs a {
  display: block;
  height: auto;
  padding: 0.9ch 1.4rem;
  color: #272928 !important;
  background: transparent;
  border: 1px solid #384332;
  border-radius: 4px;
}
.vert ul.tabs a:hover, .vert ul.tabs a:active, .vert ul.tabs a:focus, .vert ul.tabs a.active {
  background: rgba(56, 67, 50, 0.05);
  color: #384332 !important;
  cursor: pointer;
}
@media (min-width: 750px) {
  .vert .tab-panel {
    width: 65%;
  }
}
@media (min-width: 1024px) {
  .vert ul.tabs {
    width: 180px;
  }
  .vert .tab-panel {
    width: calc(100% - 215px);
  }
}

@media (max-width: 749px) {
  .acc ul.tabs {
    display: none;
  }
}
