@use "../../../scss/abstracts/vars" as *;
//@use "../../../scss/abstracts/button" as *;

ul.tabs {
	display: flex;
    flex-wrap: wrap;
	list-style: none;
	margin: 0 0 3rem 0;
	padding: 0;
	border-top: 1px solid $secondary;
	position: relative;

	li {
		margin: 0;
		padding: 0 2.2rem 0 0;
		position: relative;
		z-index: 2;
		
		&:last-child {
			padding: 0;
		}
	}

	a {
		display: block;
		font-size: $font-18;
		font-weight: 700;
		text-transform: uppercase;
		padding: 1rem 0 0 0;
		color: $black;
		transition: color $speed $ease;

		&.active,
		&:hover,
		&:active,
		&:focus {
			color: $secondary;
		}
	} // a

// fixed width buttons 
	&.fw {
		li {
			display: flex;
			align-items: stretch;
			flex-grow: 1;
			flex-basis: 0;

			a {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
			}
		}
	}
} // tabs

// side tabs
.vert {
	ul.tabs {
		display: flex;
		flex-direction: column;
		width: calc(35% - 30px);
		margin: 0 30px 0 0;
		padding: 0;
		background: transparent;
		border: none;
		border-radius: 0;

		li {
			width: 100%;
			margin: 0 0 1rem 0;
			padding: 0;
		}

		a {
			display: block;
			height: auto;
			padding: .9ch 1.4rem;
			color: $primary!important;
			background: transparent;
			border: 1px solid $moss;
            border-radius: 4px;

			&:hover,
			&:active,
			&:focus,
			&.active {
				background: rgba($moss, .05);
				color: $moss!important;
                cursor: pointer;
			}

		}
	}

	@media (min-width: 750px) {
		.tab-panel {
			width: 65%;
		}
	}

	@media (min-width: 1024px) {
		ul.tabs {
			width: 180px;
		}
		.tab-panel {
			width: calc(100% - 215px);
		}	
	}
}



// tab > accordion on mobile
@media (max-width: 749px) {
	.acc {
		ul.tabs {
            display: none;
        }
	}
}