@use "../abstracts/vars" as *;
@use "../abstracts/mixins" as *;

@media (max-width: 1023px) {
    @include burger-menu;

    header {

        .branding {
            background: transparent!important;
        }

        &.sticky {
            &:not(.menu-open) {
                #nav-expander {
                    .bar {
                        background: $moss;
            
                        &:before,
                        &:after {
                            background: $moss;
                        }
                    }
                }
            }
        }
        
        .inner {
            position: relative;
        }

        // .wrap {
        //     position: relative;
        // }

        #sitenav {
            display: block;
            width: 100vw;
            height: 100vh;
            padding: 75px $content-gap 30px $content-gap;
            background: radial-gradient(circle at 0% 0%, $primary, transparent 75%), $moss;
            position: fixed;
            top: -2rem;
            bottom: 0;
            left: calc($content-gap * -1);
            right: 0;
            visibility: hidden;
            opacity: 0;
            transition: opacity .35s $cb, padding .35s $cb;
            pointer-events: none;
            z-index: -1;

            .menu {
                .wrap {
                    width: 100%;
                }

                li {
                    margin: 0;
                    //background: transparent!important;

                    &.current-menu-item,
                    &.current-menu-parent {
                        a {
                            font-weight: 500;
                            color: lighten($secondary, 40%);
                        }
                    }
                }

                .sub-toggle {
                    display: none;
                }

                > li {
                    margin-bottom: 10px;
                    padding: 1.1ch 1ch;
                    background: rgba($moss, .55);
                    border-radius: 2px;
                    
                    > a {
                        transition: padding $speed $ease;
                        
                        &:hover {
                            padding-left: .5ch;
                        }
                    }
                    
                    &.current-menu-item,
                    &.current-page-parent {
                        > a {
                            font-weight: 500;
                            color: lighten($secondary, 20%);
                        }
                    }
                    
                    &.menu-item-has-children {
                        display: flex; 
                        flex-wrap: wrap;

                        > a {
                            width: calc(100% - 20px);
                            padding-right: 20px;
                        }

                        //> .sub-menu {
                        > .child-menu {
                            width: 100%;
                            max-height: 0;
                            margin-top: 0;
                            border-left: 1px solid $secondary;
                            z-index: -1;
                            opacity: 0;
                            visibility: hidden;
                            transition: opacity .35s cubic-bezier(0.4, 0, 0.2, 1), max-height .35s cubic-bezier(0.4, 0, 0.2, 1), margin .35s cubic-bezier(0.4, 0, 0.2, 1);

                            .mm-featured-image, 
                            .mm-description {
                                display: none;
                            }

                            li {
                                margin: .5ch 0;

                                &.current-menu-item {
                                    a {
                                        font-weight: 500;
                                        color: lighten($secondary, 10%);
                                    }
                                }

                                a {
                                    font-size: 1.7rem;
                                    font-weight: 400;
                                    padding-left: 1.2ch;
                                    color: $white;
                                    transition: padding $speed $ease;
                                    
                                    &:hover {
                                        padding-left: 1.6ch;
                                    }
                                }
                            
                            }
                        }
                        
                        > .sub-toggle {
                            display: block;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.918' height='9.159' viewBox='0 0 16.918 9.159'%3E%3Cpath id='Path_9723' data-name='Path 9723' d='M5291.5,4113l7.382,7.469,7.555-7.469' transform='translate(-5290.51 -4112.009)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4'/%3E%3C/svg%3E%0A");
                            background-position: 75% 50%;
                            background-repeat: no-repeat;
                            background-size: 14px;
                            transition: transform .25s ease-in-out;

                            &.open {
                                transform: scaleY(-1);

                                + .child-menu {
                                    z-index: 1;
                                    opacity: 1;
                                    visibility: visible;
                                    margin-top: .7ch;
                                }
                            }
                        }
                    
                    } // parent
                } // 1st level
            } // menu

        } // sitenav

    // sitenav open
        &.menu-open {
            .branding {
                z-index: 9;

                path {
                    fill: $white;
                }
            }
            
            .inner {
                padding-left: 0;
                padding-right: 0;
            }
            
            #nav-expander {
                right: 0;
            }

            > .wrap {
                &:before {
                    content: "";
                    display: block;
                    background: rgba(0, 0, 0, .015);
                    backdrop-filter: blur(20px);
                    position: absolute;
                    top: -16px;
                    bottom: -10px;
                    left: -15px;
                    right: -15px;
                }
            }

            #sitenav {
                padding-top: 90px;
                visibility: visible;
                opacity: 1;
                pointer-events: all;
                overflow-y: scroll;
            }
        }    
    }

}