@use "../abstracts/vars" as *;
@use "../abstracts/button" as *;

#sidebar {
    margin: $space-m 0 $space-xl 0;
    padding: 3.5rem;
    background: $linen;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 0 2rem 0;
            padding: 0;
            position: relative;

            &.current_page_item {
                a {
                    font-weight: 600;
                    color: $black;
                    
                    &:before {
                        opacity: 1;
                        left: -20px;
                    }
                }
            }
            
            &.menu-item-has-children  {
                margin-bottom: 3.6rem;
                
                a {
                    font-size: $font-20;
                    font-weight: 700;
                    line-height: 1.4;
                    text-transform: uppercase;
                    padding-top: 1.2ch;
                    color: $secondary;
                    border-top: 1px solid $secondary;
                    transition: color $speed $ease;
                    
                    &:before {
                        display: none;
                    }
                    
                    &:hover,
                    &:active,
                    &:focus {
                        color: $black;
                    }
                }
            }
        } // li

        a {
            display: block;
            font-size: 1.8rem;
            font-weight: 500;
            color: $primary;
            position: relative;
            
            &:before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background: $secondary;
                border-radius: 100%;
                opacity: 0;
                position: absolute;
                top: .8rem;
                left: -16px;
                transition: $speed $ease;
            }
            
            &:hover,
            &:active,
            &:focus {
                &:before {
                    opacity: .6;
                    left: -20px;
                }
            }
        }
    } // ul
    
    p.meta {
        &.post-cat {
            font-size: $font-20;
            font-weight: 700;
            line-height: 1.4;
            text-transform: uppercase;
            margin-bottom: 0;
            padding-top: 1.2ch;
            color: $secondary;
            border-top: 1px solid $secondary;
        }
        
        &.post-date {
            font-size: $font-16;
            font-weight: 600;
            margin: .6ch 0 4rem 0!important;
            color: $pine;
        }
    } // meta
    
    .btn {
        @include button-base;
        margin-top: 5rem;
    }

    .post-navigation {

        a {
            display: block;
            line-height: 1.375;
            padding: 1ch 0;
            position: relative;
            
            &:before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background: $secondary;
                border-radius: 100%;
                opacity: 0;
                position: absolute;
                top: 39px;
                left: -16px;
                transition: $speed $ease;
            }
            
            &:hover,
            &:active,
            &:focus {
                &:before {
                    opacity: 1;
                    left: -20px;
                }
            }

            span {
                display: block;
                font-size: $font-14;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: .5ch;
                color: $olive;
            }

            strong {
                font-weight: 600;
                color: $pine;
            }

            &:hover,
            &:active,
            &:focus {
                strong {
                    color: $black;
                }
            }
        }

        .nav-links {
            > div {
                &:first-child {
                    a {
                        &:after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 1px;
                            background: rgba($sage, 1);
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }
                
                &:last-child {
                    a {
                        &:after {
                            content: "";
                            display: block;
                            width: 100%;
                            height: 1px;
                            background: rgba($sage, 1);
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    } // post-navigation

    @media (min-width: 1024px) {
        margin-top: 0;
        padding: 0;
        background: transparent;
        
        .inner {
            padding: 0 3rem $space-l 0;
            position: relative;
            
            &:before {
                content: "";
                width: 50vw;
                display: block;
                background: $linen;
                position: absolute;
                top: calc($space-l * -1);
                right: 0;
                bottom: 0;
            }
        }
    }
}

.single {
    #sidebar {
        @media (min-width: 1024px) {
            .inner {
                &:before {
                    z-index: -1;
                }
            }
        }
    }
}