:root {
  --sidebar-width: 31rem;
  --layout-gap: 4rem;
  --wp--style--block-gap: clamp(3.5rem, 2.737rem + 1.404vw, 4rem);
}

@media (min-width: 1300px) {
  :root {
    --sidebar-width: 34rem;
    --layout-gap: 6rem;
  }
}
.image-cta {
  display: block;
  text-decoration: none;
  position: relative;
}
.image-cta img {
  margin-bottom: 1.5rem;
}
.image-cta h3 {
  font-size: var(--wp--preset--font-size--font-26);
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0;
  color: #384332;
}
.image-cta h3 + p {
  margin-top: 1.1rem;
}
.image-cta p {
  margin-bottom: 0;
}
