@use "../../../scss/abstracts/vars" as *;

.image-cta {
	display: block;
	text-decoration: none;
	position: relative;

	img {
		margin-bottom: 1.5rem;
	}

	h3 {
		font-size: $font-26;
		font-weight: 400;
		line-height: 1.15;
		margin-bottom: 0;
		color: $moss;

		+ p {
			margin-top: 1.1rem;
		}
	}

	p {
		margin-bottom: 0;
	}

	// .btn {
	// 	@include button;
	// }
}