@use "../../../scss/abstracts/vars" as *;

.financial-calendar {

	.event {
		position: relative;

		&__head {
			display: flex;
			flex-direction: column;
		}

		&__title {
			margin-bottom: $space-n;
			
			span {
				display: block;

				&.meta {
					font-size: $font-16;
					color: $primary;

					em {
						display: inline-block;
						font-style: normal;
						margin-bottom: .5ch;
					}
				}

				&.title {
					font-family: $ff-title;
					font-size: $font-22;
					font-weight: 500;
					letter-spacing: -.04ch;
					line-height: 1.25;
					color: $primary;
				}
			}
		} // title

		&__actions {
			margin: auto 0 0 0;
			position: relative;

			.btn-add-to-calendar {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 10px;
				font-family: $ff-title;
				font-size: $font-18;
				font-weight: 500;
				letter-spacing: -.04ch;
				color: $primary;
				border: none;
				border-radius: 0;
				position: relative;
				cursor: pointer;
				-webkit-appearance: none;
				transition: color $speed $ease;

				svg {
					width: 36px;
					height: 36px;
				}

				&:hover {
					color: $secondary;
				}
			} // button

		} // actions
	} // event


	.calendar-links {
		list-style: none;
		margin: 0 0 0 46px;
		padding: .7rem 1.5rem;
		background: $cloud;
		border-radius: 2px;
		box-shadow: 0 0 4px 0 rgba(0,0,0, .1);
		opacity: 0;
		position: absolute;
		z-index: -1; 
		transform: translateY(-5px); 

		&.show {
			display: block;
			z-index: 1000; 
		}

		li {
			min-width: 100px;
			margin: 0;
		}

		a {
			display: block;
			font-family: $ff-title;
			font-size: $font-16;
			font-weight: 500;
			letter-spacing: -.025ch;
			padding: .45ch 0 .45ch 18px;
			color: $primary;
			position: relative;
			transition: padding $speed $ease;

			&:before {
				content: "";
				display: block;
				width: 11px;
				height: 11px;
				//mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m1 1 5.078 4.978L1 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m5 1 5.078 4.978L5 11' stroke='%23E3A7AA' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                mask: url("data:image/svg+xml,%3Csvg width='11' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5.641' cy='5.729' r='4.5' transform='rotate(-90 5.641 5.729)' stroke='%23CD136A'/%3E%3Ccircle cx='5.641' cy='5.728' r='2.32' transform='rotate(-90 5.641 5.728)' fill='%23CD136A'/%3E%3C/svg%3E");
				background: $secondary;
				mask-size: cover;
				position: absolute;
				top: 11px;
				left: 0;
				transition: background $speed $ease;
			}

			&:hover,
			&:active,
			&:focus {
				padding-left: 23px;
			}
		}
	}
}


  
