@use "../abstracts/vars" as *;

.hero-video {
	&__feat {
		position: relative;
	}

	&__image {
		line-height: 0;
		position: relative;
		overflow: hidden;

		.video-player,
		.native-player {
			position: absolute;
			inset: 0;
			border: none;
			object-fit: cover;
			pointer-events: none;
		}

		img {
			width: 100%;
			height: auto;
			aspect-ratio: 1 / .85;
			line-height: 0;
			object-fit: cover;
			object-position: center;

			@media (min-width: 450px) {
				aspect-ratio: 1 / .55;
			}
		}
	}

	h2 {
		font-size: $font-64;
		font-weight: 400;
		line-height: 1.15;
		margin: 0 0 .6ch 0;
	}

	p {
		font-size: $font-22;
		line-height: 1.45;
		margin: 0;
		color: $primary;
	}

// mobile and tablet
	@media (max-width: 1023px) {
		&__iframe {
			max-width: 80%;
			padding-top: 1.7rem;
			padding-bottom: 1.4rem;
			background: rgba($cloud, .9);
			border-top-left-radius: $br;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 5;

			iframe {
				width: 240px;
				height: 139px;
			}
		}

		&__content {
			padding-top: $space-n;
		}

		#scrolldown,
		.hero-mask,
		.hero-bg {
			display: none;
		}
	}

	@media (max-width: 699px) {
		&__iframe {
			iframe {
				width: 170px;
				height: 93px;
			}
		}
	}

// desktop styles
	@media (min-width: 1024px) {
		padding-left: $content-gap;
		padding-right: $content-gap;

		.has-global-padding {
			padding-left: 0;
			padding-right: 0;
		}

		.inner {
			max-width: $content-width;
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}

// svg mask
		.hero-mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: -1;
		}

// video clipping with responsive mask
		.video-clip {
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			clip-path: url(#heroClip);
			position: absolute;
			top: 10px;
			left: 10px;
			

			.banner-image,
			.video-player {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}

		&__content {
			position: absolute;
			inset: 0;

			@media (max-width: 1249px) {
				> div {
					display: flex;
					flex-wrap: wrap;
					padding-top: $space-n;

					h2 {
						width: 40%;
						font-size: 5.8rem;
						padding-right: 5%;
					}

					p {
						width: 60%;
						font-size: 2rem;
						padding: 2.8rem 3% 0 2%;
						color: $white;
					}
				}
			}
		}

		&__feat {
			width: 100%;
			aspect-ratio: 1097 / 751; // to match background SVG
			overflow: hidden;
			position: relative;
		}

		&__image {
			position: relative;
			width: 100%;
			height: 100%;

			img {
				height: 100%;
				aspect-ratio: unset;
			}

			.hero-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__iframe {
			position: absolute;
			bottom: 0;
			right: 0;

			iframe {
				width: 240px;
				height: 139px;
			}
		}

		#scrolldown {
			position: absolute;
			bottom: 30px;
			left: 30px;
			cursor: pointer;
			animation: bounce 2.25s cubic-bezier(0.25, 0.1, 0.25, 1) 5s infinite;

			circle {
				transition: stroke $speed $ease; 
			}

			@media (max-width: 1249px) {
				path {
					fill: $white;
				}
			}

			&:hover {
				circle {
					stroke: $moss;
				}
			}
		}
	}

	@media (min-width: 1250px) {
		.inner {
			padding-left: 220px;
		}

		#scrolldown {
			bottom: 20px;
			left: 0;
		}

		&__content {
			padding-top: $space-n;
		}

		h2 {
			font-size: 6.4rem;
		}

		p {
			width: 34%;
		}
	}

	@media (min-width: 1450px) {

		&__content {
			padding-top: $space-l;
		}

		h2 {
			font-size: 7.2rem;
		}

		p {
			span {
				display: block;
			}
		}
	}
}

