@media (min-width: 990px) {
	$counter: 0.075;
	@for $i from 1 through 30 {
	$counter: $counter + 0.2;

	.animate-#{$i} {
		animation-delay: $counter + s!important;
	}
	}

	$count: 0.1;
	@for $j from 1 through 30 {
	$count: $count + .085;

	.anim-#{$j} {
		animation-delay: $count + s!important;
	}
	}
}

#sidebar, 
#content, 
.wp-block-group, 
#content > .wp-block-column, 
.wp-block-cover, 
.fade, 
.hero {
    opacity: 0;
}

// fade in
@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

@keyframes fadeInSm {
	from {
		opacity: 0;
		transform: translateY(px) scale(0.995);
	}
  
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.fade-in,
.content > .wp-block-group,
.content > .wp-block-image {
	opacity: 0;
	//transform: translateY(2px) scale(0.995);

	&.in-view {
		animation: fadeIn .85s forwards .1s;
	}
}

@keyframes fadeInleft {
	from {
		opacity: 0;
		transform: translateX(-10px) scale(0.995);
	}
  
	to {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}

.fade-in-left {
	opacity: 0;
	transform: translateX(-5px) scale(0.995);

	&.in-view {
		animation: fadeInleft .85s forwards .1s;
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(10px) scale(0.995);
	}
  
	to {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}

.fade-in-right {
	opacity: 0;
	transform: translateX(10px) scale(0.995);

	&.in-view {
		animation: fadeInRight .85s forwards .1s;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
  
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-up {
	opacity: 0;
	transform: translateY(-50px);

	&.in-view {
		animation: fadeInUp .85s forwards .1s;
	}
}



// zoom in
@keyframes zoomIn {
	from {
    	opacity: 0;
		transform: scale(.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.zoom-in {
	opacity: 0;
	transform: scale(.95);

	&.in-view {
		animation: zoomIn .85s forwards .1s;
	}
}

// zoom in
@keyframes zoomInSm {
	from {
    	opacity: 0;
		transform: scale(.995);
	}
	to {
      opacity: 1;
      transform: scale(1);
	}
}

.zoom-in-sm {
	opacity: 0;
	transform: scale(.98);

	&.in-view {
		animation: zoomInSm .85s forwards .1s;
	}
}


// scale in
@keyframes scaleIn {
	from {
    	opacity: 0;
		transform: scale(1);
	}
	to {
		opacity: 1;
		transform: scale(1.01);
	}
}

.scale-in {
	opacity: 0;
	transform: scale(.95);

	&.in-view {
		animation: scaleIn .85s forwards .1s;
	}
}

// scale in
@keyframes scaleILg {
	from {
    	opacity: 0;
		transform: scale(1);
	}
	to {
		opacity: 1;
		transform: scale(1.03);
	}
}


// zoom out
@keyframes zoomOut {
    0% {
		opacity: 0;
        transform: scale(1.1);
    }
    100% {
		opacity: 1;
        transform: scale(1.01);
    }
}

@keyframes zoomOutSm {
    0% {
		opacity: 0;
        transform: scale(1.025);
    }
    100% {
		opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-6px);
    }
}

@keyframes bounce2 {
    0%, 100% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(10px);
        opacity: 0.7;
    }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}