@use "vars" as *;

@mixin button-base {
    display: inline-flex;
    min-height: 54px;
    align-items: center;
    justify-content: center;
    font-family: $ff-title;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.05;
    text-align: center;
    text-decoration: none;
    padding: 16px 3rem 16px 6rem;
    color: $black;
    border: .15rem solid $secondary;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    transition: color $speed $cb;
    
    strong {
        font-weight: 600;
        position: relative;
        z-index: 3;
    }
    
    &:before,
    &:after {
        content: "";
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 5rem;
        position: absolute;
        top: 3px;
        left: 3px;
    }
    
    &:before {
        background: $secondary;
        z-index: 1;
        transition: width $speed $cb;
    }
    
    &:after {
        background: $white;
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='14' fill='none'%3E%3Cpath fill='%23fff' d='M16.709 1.201a1 1 0 0 1 1.414.008l5.088 5.148a1 1 0 0 1-.008 1.414l-5.088 5.028a1 1 0 0 1-1.406-1.422L20.125 8H1.5a1 1 0 1 1 0-2h18.547L16.7 2.615a1 1 0 0 1 .008-1.414Z'/%3E%3C/svg%3E");
        mask-position: center;
        mask-repeat: no-repeat;
        z-index: 2;   
    }

    &:hover,
    &:active,
    &:focus {
        color: $white;
        
        &:before {
            width: calc(100% - 6px);
        }
    }
    
    &[href$=".pdf"] {
        &:after {
            transform: rotate(90deg);
        }
    }
}

@mixin button-white {
    color: $white;
    border-color: $white;
    
    &:before {
        background: $white;
    }
    
    &:after {
        background: $secondary;
    }
    
    &:hover,
    &:active,
    &:focus {
        color: $black;
    }
}











@mixin button-filled {
}

@mixin button-icon {
}

@mixin button-icon-white {
}